-limit ||= 8
-title ||= "供求信息"
-results = Entry.search(q,match_mode: :any,per_page: limit)
-if results.present?
  %h2=title
  .items
    - results.each_with_index do |entry,i|
      .item
        -if i < 3
          %h3= link_to entry.title, entry,target: '_blank'
          %p=clean_excerpt(entry.description).truncate(120)
        -else
          %p= link_to entry.title, entry,target: '_blank'

