-title "供应信息"
-@cols = "col2r"
-manage = can? :manage,Entry
.items
  - @entries.each do |entry|
    .item
      %h3= link_to entry.title, entry
      %p=clean_excerpt(entry.text.body).truncate(120)
      -if manage
        %p
          = link_to 'Edit', edit_entry_path(entry)
          = link_to 'Destroy', entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

=paginate @entries
-if can? :new,Entry
  = link_to 'New Entry', new_entry_path
