-limit ||= 8
-relates = Topic.search(q,match_mode: :any,per_page: limit)
-if relates.present? && relates.size > 1
  %p.links
    相关搜索
    -relates.each do |r|
      -next if r.name == q
      =link_to r.name,topic_url(r)
