-title "Topics"
%p
  =link_to "All"
  =link_to "Unpublished",published: 0
-if @topics.present?
  %fieldset
    %ul.topics
      -@topics.each do |t|
        %li 
          =check_box_tag "topics[]",t.id,t.published?
          =link_to t.name.truncate(13),t
      .clearfix
    .actions
      %label{for: 'check_all'}
        =check_box_tag 'check_all'
        全选
        %br
      =button_tag "保存",class: "btn btn-primary",name: "save_all"
      =button_tag "删除选中",class: "btn btn-danger",name: "delete_checked"


=paginate @topics

