-title "#{@category.name}_热门关键词分类","热门关键词分类: #{@category.name}"
=render "cats"
%p.links
  按字母分类:
  -("a".."z").to_a.each do |a|
    =link_to a.upcase,zeig_url(c: a)
  =link_to "0-9",zeig_url(c: "0")
= render :partial => 'list',:locals=>{:topics=>@topics}
-#=paginate results,:window=>100
=xpaginate @topics,:theme=>'etao',:window=>100
.clearfix

