-title "Topics"
=form_tag "/topics/manage",method: :get,class: "form-inline" do
  -#%lable{for: :published} Status
  =select_tag "published",options_for_select({Published: 1,Unpublished: 0, Hidden: -1},params[:published]),class: "input-medium",prompt: "Status"
  -#%lable{for: :length} Length
  =select_tag "length",options_for_select(1..30,params[:length]),class: "input-mini",prompt: "Length"
  %lable{for: :start} Start
  =text_field_tag "start",params[:start],class: "input-small"
  %lable{for: :end} End
  =text_field_tag "end",params[:end],class: "input-small"
  %lable{for: :special} Special
  =text_field_tag "special",params[:special],class: "input-small"

  %button.btn 筛选


%p.links
  =link_to "All"
  =link_to "Unpublished",published: 0
  =link_to "Hidden",published: -1
  %br
  Special:
  -'。.“”"'.split("").each do |r|
    =link_to r,{special: r,published: 0}
  -%w(各类 各种 其它 其他 等).each do |r|
    =link_to r,{start: r,published: 0}
  -%w(等 类).each do |r|
    =link_to r,{end: r,published: 0}
-if @topics.present?
  -#%form{method: 'POST',action: "/topics/save"}
  =form_tag "/topics/save" do
    %fieldset
      %ul.topics
        -@topics.each do |t|
          %li 
            =check_box_tag "topics[]",t.id,t.published?
            =link_to t.name.truncate(13),t,title: t.name
        .clearfix

      .actions
        %label{for: 'check_all'}
          =check_box_tag 'check_all'
          全选
      .form-inline
        ACTION:
        -%w(publish unpublish hide delete).each do |a|
          %label{for: "act_#{a}"}
            =radio_button_tag 'act',a
            =a.humanize

      .actions
        =button_tag "Submit"
        -#=button_to_function "保存",'save_all()',class: "btn btn-primary"
        -#=button_to_function "删除选中",'delete_checked()',class: "btn btn-danger"

=xpaginate @topics

