-title "Topics"
%p.links
  =link_to "All"
  =link_to "Unpublished",published: 0
  =link_to "Hidden",published: -1
  %br
  Special:
  -'。.“”"'.split("").each do |r|
    =link_to r,special: r
-if @topics.present?
  -#%form{method: 'POST',action: "/topics/save"}
  =form_tag "/topics/save" do
    %fieldset
      %ul.topics
        -@topics.each do |t|
          %li 
            =check_box_tag "topics[]",t.id,t.published?
            =link_to t.name.truncate(13),t,title: t.name
        .clearfix

      .actions
        %label{for: 'check_all'}
          =check_box_tag 'check_all'
          全选
      .form-inline
        ACTION:
        -%w(publish unpublish hide delete).each do |a|
          %label{for: "act_#{a}"}
            =radio_button_tag 'act',a
            =a.humanize

      .actions
        =button_tag "Submit"
        -#=button_to_function "保存",'save_all()',class: "btn btn-primary"
        -#=button_to_function "删除选中",'delete_checked()',class: "btn btn-danger"

=xpaginate @topics

