-title t(".title",:name=>@topic.name),@topic.name
-@cols = :col2r
-@hide_recent = true


%p.stats
  ="找到#{@companies.total_entries}项结果,耗时(#{@companies.query_time * 1000}毫秒)"
-if @relates.present?
  %p.links
    相关搜索
    -@relates.each do |r|
      =link_to r.name,topic_url(r)
= render :partial => 'companies/list',:locals=>{:results=>@companies,:q=>@q}
.pull-right=nofollow_sub paginate(@companies,window: 5)
-#.pull-right=xpaginate(@companies,theme: "etao",window: 10)
.clearfix
