<div class="center-content">
<div class="image-list" data-click='{"act":"a_click_banner", "mod":"banner", "fr":"ns","cat":"banner"} '>
  <a href="" target="_self">
    <img class="bg-image-0" src="/six/b1.jpg" data-color="#f0f9e1" />
  </a>
  <a href="" target="_self">
    <img src="/six/b2.jpg" data-color="#f5d365" />
  </a>
</div>
<div class="image-btn">
  <a class="current" data-order="0"></a>
  <a data-order="1"></a>
</div>
</div>                    
