-limit ||= 15
-cache "recent_#{limit}",:expires_in=>1.minutes do
  -results = Company.recent.limit(limit)
  -if results
    %ul.companies
      -results.each do |c|
        %li=link_to c.name.truncate(16),company_link(c),title: c.name,target: "_blank"
