<div class="content-banner">
  <div class="image-list" data-click='{"act":"a_click_banner_image", "mod":"content_banner", "fr":"ns","cat":"banner"} '>
    <a href="" target="_blank">
      <img class=" first" src="/six/fFhOZUjLZWAqBm8IlpP_XWRLlp0_NFVOZUZMBmVbBWARZg.jpg" border="0"/>
    </a>
    <a href="" target="_blank">
      <img class="" src="/six/fFhOZUjLZWAqBm8SlpP_XWRLlp0_NFVOZUZMBmVbBWASZL.jpg" border="0"/>
    </a>
    <a href="" target="_blank">
      <img class="" src="/six/fFhOZUjLZWAqBm8wlpP_XWRLlp0_NFVOZUZMBmVbBWAYBL.jpg" border="0"/>
    </a>
  </div>
</div>
