<div class="exam-calendar">
  <div class="exam-mask"></div>
  <div class="exam-info"  data-click='{"act":"b_click_calendar", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
    <div class="exam-title">
      <a class="next-month-btn"></a>
      <a class="prev-month-btn"></a>
      <h2>
        考试日历
      </h2>
    </div>
    <div class="month-slide"  data-click='{"act":"b_click_calendar", "mod":"content_calendar", "fr":"ns","cat":"calendar"}'>
      <ul class="month-list">
        <li class="month-item OP_LOG_BTN" data-month="1" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>1</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="2" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>2</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="3" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>3</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="4" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>4</i>
          月
        </div>
        </li>
        <li class="month-item selected-month OP_LOG_BTN" data-month="5" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>5</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="6" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>6</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="7" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>7</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="8" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>8</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="9" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>9</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="10" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>10</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="11" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>11</i>
          月
        </div>
        </li>
        <li class="month-item OP_LOG_BTN" data-month="12" data-click='{"act":"b_click_month", "mod":"content_calendar", "fr":"ns","cat":"calendar"} '>
        <div class="month-card">
          <i>12</i>
          月
        </div>
        </li>
      </ul>
    </div>
    <div class="exam-viewport"  data-click='{"act":"a_click_exam", "mod":"content_calendar", "fr":"ns","cat":"exam_calendar"} '>
      <ul class="exam-list  month-5">
        <li class="exam-item" data-month="1">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E7%A1%95%E5%A3%AB%E7%A0%94%E7%A9%B6%E7%94%9F%E5%85%A5%E5%AD%A6%E8%80%83%E8%AF%95&key=%E7%A1%95%E5%A3%AB%E7%A0%94%E7%A9%B6%E7%94%9F%E5%85%A5%E5%AD%A6%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E7%A1%95%E5%A3%AB%E7%A0%94%E7%A9%B6%E7%94%9F%E5%85%A5%E5%AD%A6%E8%80%83%E8%AF%95&key=%E7%A1%95%E5%A3%AB%E7%A0%94%E7%A9%B6%E7%94%9F%E5%85%A5%E5%AD%A6%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">考研
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">1月4、5日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%AC%E5%85%B1%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMPA%E8%80%83%E8%AF%95&key=%E5%85%AC%E5%85%B1%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMPA%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%AC%E5%85%B1%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMPA%E8%80%83%E8%AF%95&key=%E5%85%AC%E5%85%B1%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMPA%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">MPA（全日制）
          </span>

          <span class="exam-time">1月4、5日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B7%A5%E5%95%86%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMBA%E8%80%83%E8%AF%95&key=%E5%B7%A5%E5%95%86%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMBA%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B7%A5%E5%95%86%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMBA%E8%80%83%E8%AF%95&key=%E5%B7%A5%E5%95%86%E7%AE%A1%E7%90%86%E7%A1%95%E5%A3%ABMBA%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">MBA（全日制）
          </span>

          <span class="exam-time">1月4、5日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">1月9、11、18、25日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">自考
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">1月11、12日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">1月12、18日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%8A%E6%B5%B7%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E4%B8%8A%E6%B5%B7%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%8A%E6%B5%B7%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E4%B8%8A%E6%B5%B7%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">上海公务员
          </span>

          <span class="exam-time">1月18日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9F%BA%E9%87%91%E4%BB%8E%E4%B8%9A%E8%80%83%E8%AF%95&key=%E5%9F%BA%E9%87%91%E4%BB%8E%E4%B8%9A%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9F%BA%E9%87%91%E4%BB%8E%E4%B8%9A%E8%80%83%E8%AF%95&key=%E5%9F%BA%E9%87%91%E4%BB%8E%E4%B8%9A%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">基金从业
          </span>

          <span class="exam-time">1月18日</span>
        </a>


        </li>
        <li class="exam-item" data-month="2">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">2月1、13、15、22日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">2月22日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">江苏教师资格
          </span>

          <span class="exam-time">2月22日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">湖南教师资格
          </span>

          <span class="exam-time">2月20日报名</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/zige/bianji/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/zige/bianji/'" target="_blank" class="exam-desc">
          <span class="exam-name">网络编辑
          </span>

          <span class="exam-time">2月22日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GRE/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GRE/'" target="_blank" class="exam-desc">
          <span class="exam-name">GRE考试
          </span>

          <span class="exam-time">2月23日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/toeic/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/toeic/'" target="_blank" class="exam-desc">
          <span class="exam-name">托业考试
          </span>

          <span class="exam-time">2月23日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">二级建造师
          </span>

          <span class="exam-time">2月报名</span>
        </a>


        </li>
        <li class="exam-item" data-month="3">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%8C%97%E4%BA%AC%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%8C%97%E4%BA%AC%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%8C%97%E4%BA%AC%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%8C%97%E4%BA%AC%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">北京公务员
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3月1日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3月1、8、13、15日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3月1、2、15、16、22、23日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">北京会计资格
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3月22日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95&key=%E6%95%99%E5%B8%88%E8%B5%84%E6%A0%BC%E8%AF%81%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">教师资格
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3-4月（各地）</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E8%AF%81%E5%88%B8%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E8%AF%81%E5%88%B8%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E8%AF%81%E5%88%B8%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E8%AF%81%E5%88%B8%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">证劵从业资格
          </span>

          <span class="exam-time">3月22、23日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">职称英语
          </span>

          <span class="exam-time">3月29日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%A8%E5%9B%BD%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%AD%89%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%85%A8%E5%9B%BD%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%AD%89%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%A8%E5%9B%BD%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%AD%89%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%85%A8%E5%9B%BD%E8%AE%A1%E7%AE%97%E6%9C%BA%E7%AD%89%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">计算机等级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">3月29日</span>
        </a>


        </li>
        <li class="exam-item" data-month="4">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">4月5、12、24、26日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E8%B4%B5%E5%B7%9E%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E8%B4%B5%E5%B7%9E%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E8%B4%B5%E5%B7%9E%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E8%B4%B5%E5%B7%9E%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">贵州公务员
          </span>

          <span class="exam-time">4月12日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">4月12、19、27日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E7%B2%BE%E7%AE%97%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%B2%BE%E7%AE%97%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E7%B2%BE%E7%AE%97%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%B2%BE%E7%AE%97%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">精算师
          </span>

          <span class="exam-time">4月12-18日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B1%B1%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%B1%B1%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B1%B1%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%B1%B1%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">山东公务员
          </span>

          <span class="exam-time">4月13日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B9%BF%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%B9%BF%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%B9%BF%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%B9%BF%E4%B8%9C%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">广东公务员
          </span>

          <span class="exam-time">4月14日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%A8%E5%9B%BD%E9%AB%98%E6%A0%A1%E8%8B%B1%E8%AF%AD%E4%B8%93%E4%B8%9A%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%85%A8%E5%9B%BD%E9%AB%98%E6%A0%A1%E8%8B%B1%E8%AF%AD%E4%B8%93%E4%B8%9A%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%A8%E5%9B%BD%E9%AB%98%E6%A0%A1%E8%8B%B1%E8%AF%AD%E4%B8%93%E4%B8%9A%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%85%A8%E5%9B%BD%E9%AB%98%E6%A0%A1%E8%8B%B1%E8%AF%AD%E4%B8%93%E4%B8%9A%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">英语专四
          </span>

          <span class="exam-time">4月19日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">自考
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">4月19、20日</span>
        </a>


        </li>
        <li class="exam-item" data-month="5">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E5%BB%BA%E7%AD%91%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E5%BB%BA%E7%AD%91%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E5%BB%BA%E7%AD%91%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E5%BB%BA%E7%AD%91%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">建筑师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">5月10-13日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">5月10、15、17、24日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">5月11、17、24、25日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">商务英语初级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">5月17日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%BA%E5%8A%9B%E8%B5%84%E6%BA%90%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">人力资源管理师
          </span>

          <span class="exam-time">5月17、18日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E7%90%86%E8%B4%A2%E8%A7%84%E5%88%92%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%90%86%E8%B4%A2%E8%A7%84%E5%88%92%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E7%90%86%E8%B4%A2%E8%A7%84%E5%88%92%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%90%86%E8%B4%A2%E8%A7%84%E5%88%92%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">理财规划师
          </span>

          <span class="exam-time">5月17、18日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">二级建造师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">5月24-25日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%BD%AF%E4%BB%B6%E6%B0%B4%E5%B9%B3%E8%80%83%E8%AF%95&key=%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%BD%AF%E4%BB%B6%E6%B0%B4%E5%B9%B3%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%BD%AF%E4%BB%B6%E6%B0%B4%E5%B9%B3%E8%80%83%E8%AF%95&key=%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%BD%AF%E4%BB%B6%E6%B0%B4%E5%B9%B3%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">软考
          </span>

          <span class="exam-time">5月24日、25日</span>
        </a>


        </li>
        <li class="exam-item" data-month="6">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">6月7、19、21、28日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">大学英语四级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">6月14日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">大学英语六级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">6月14日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E7%A8%8E%E5%8A%A1%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E7%A8%8E%E5%8A%A1%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E7%A8%8E%E5%8A%A1%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E7%A8%8E%E5%8A%A1%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">注册税务师
          </span>

          <span class="exam-time">6月14、15日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E8%AE%A1%E9%87%8F%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E8%AE%A1%E9%87%8F%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E8%AE%A1%E9%87%8F%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E8%AE%A1%E9%87%8F%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">计量师
          </span>

          <span class="exam-time">6月14、15日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">6月15、21、28、29日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95&key=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95&key=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">造价工程师
          </span>

          <span class="exam-time">6月中下旬</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%93%B6%E8%A1%8C%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E9%93%B6%E8%A1%8C%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%93%B6%E8%A1%8C%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E9%93%B6%E8%A1%8C%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">银行从业资格
          </span>

          <span class="exam-time">6月28、29日</span>
        </a>


        </li>
        <li class="exam-item" data-month="7">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%B4%E5%BA%8A%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%B8%B4%E5%BA%8A%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%B4%E5%BA%8A%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%B8%B4%E5%BA%8A%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">临床执业医师
          </span>

          <span class="exam-time">7月1-15日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">自考
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">7月5、6日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GRE/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GRE/'" target="_blank" class="exam-desc">
          <span class="exam-name">GRE考试
          </span>

          <span class="exam-time">7月5、13日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">7月6、12日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">7月10、12、19、26日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/zige/qihuo/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/zige/qihuo/'" target="_blank" class="exam-desc">
          <span class="exam-name">期货从业资格
          </span>

          <span class="exam-time">7月12日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/zige/mishu/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/zige/mishu/'" target="_blank" class="exam-desc">
          <span class="exam-name">秘书资格考试
          </span>

          <span class="exam-time">7月26日</span>
        </a>


        </li>
        <li class="exam-item" data-month="8">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">8月2、9、16、21日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">8月16、23、30日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">广东会计从业资格
          </span>

          <span class="exam-time">8-9月</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GRE/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GRE/'" target="_blank" class="exam-desc">
          <span class="exam-name">GRE考试
          </span>

          <span class="exam-time">8月17、24、31日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/zige/bianji/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/zige/bianji/'" target="_blank" class="exam-desc">
          <span class="exam-name">网络编辑
          </span>

          <span class="exam-time">8月30日(上海)</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GMAT/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GMAT/'" target="_blank" class="exam-desc">
          <span class="exam-name">GMAT考试
          </span>

          <span class="exam-time">每周二至周四</span>
        </a>


        </li>
        <li class="exam-item" data-month="9">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">9月4、6、20、27日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E7%89%A9%E4%B8%9A%E7%AE%A1%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">物业管理师
          </span>

          <span class="exam-time">9月6、7日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%8F%B8%E6%B3%95%E8%80%83%E8%AF%95&key=%E5%9B%BD%E5%AE%B6%E5%8F%B8%E6%B3%95%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%8F%B8%E6%B3%95%E8%80%83%E8%AF%95&key=%E5%9B%BD%E5%AE%B6%E5%8F%B8%E6%B3%95%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">国家司法考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">9月13、14日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%89%A7%E4%B8%9A%E5%8C%BB%E5%B8%88%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">执业医师
          </span>

          <span class="exam-time">9月13、14日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
          </span>

          <span class="exam-time">9月14、27日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%80%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%B8%80%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%B8%80%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95&key=%E4%B8%80%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">一级建造师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">9月20、21日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E7%BB%9F%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E7%BB%9F%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E7%BB%9F%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E7%BB%9F%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">统计从业资格
          </span>

          <span class="exam-time">9月21日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B2%B3%E5%8D%97%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E6%B2%B3%E5%8D%97%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B2%B3%E5%8D%97%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E6%B2%B3%E5%8D%97%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">河南公务员
          </span>

          <span class="exam-time">9月21日</span>
        </a>


        </li>
        <li class="exam-item" data-month="10">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">10月2、11、18、25日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%AC%E8%B7%AF%E7%9B%91%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E5%85%AC%E8%B7%AF%E7%9B%91%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%85%AC%E8%B7%AF%E7%9B%91%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95&key=%E5%85%AC%E8%B7%AF%E7%9B%91%E7%90%86%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">公路监理师
          </span>

          <span class="exam-time">10月10-12日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
          </span>

          <span class="exam-time">10月11、18、26日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95&key=%E9%AB%98%E7%AD%89%E6%95%99%E8%82%B2%E8%87%AA%E5%AD%A6%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">自考
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">10月18、19日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E4%BC%9A%E8%AE%A1%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E4%BC%9A%E8%AE%A1%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%B3%A8%E5%86%8C%E4%BC%9A%E8%AE%A1%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%B3%A8%E5%86%8C%E4%BC%9A%E8%AE%A1%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">注册会计师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">10月18、19日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95&key=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95&key=%E9%80%A0%E4%BB%B7%E5%B7%A5%E7%A8%8B%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">造价工程师
          </span>

          <span class="exam-time">10月18、19日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%88%9D%E7%BA%A7%E4%BC%9A%E8%AE%A1%E8%81%8C%E7%A7%B0%E8%80%83%E8%AF%95&key=%E5%88%9D%E7%BA%A7%E4%BC%9A%E8%AE%A1%E8%81%8C%E7%A7%B0%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%88%9D%E7%BA%A7%E4%BC%9A%E8%AE%A1%E8%81%8C%E7%A7%B0%E8%80%83%E8%AF%95&key=%E5%88%9D%E7%BA%A7%E4%BC%9A%E8%AE%A1%E8%81%8C%E7%A7%B0%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">初/中/高级会计师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">10月25日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%88%90%E4%BA%BA%E9%AB%98%E7%AD%89%E5%AD%A6%E6%A0%A1%E6%8B%9B%E7%94%9F%E7%BB%9F%E4%B8%80%E8%80%83%E8%AF%95&key=%E6%88%90%E4%BA%BA%E9%AB%98%E7%AD%89%E5%AD%A6%E6%A0%A1%E6%8B%9B%E7%94%9F%E7%BB%9F%E4%B8%80%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%88%90%E4%BA%BA%E9%AB%98%E7%AD%89%E5%AD%A6%E6%A0%A1%E6%8B%9B%E7%94%9F%E7%BB%9F%E4%B8%80%E8%80%83%E8%AF%95&key=%E6%88%90%E4%BA%BA%E9%AB%98%E7%AD%89%E5%AD%A6%E6%A0%A1%E6%8B%9B%E7%94%9F%E7%BB%9F%E4%B8%80%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">成人高考
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">10月25、26日</span>
        </a>


        </li>
        <li class="exam-item" data-month="11">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%88%9D%E7%BA%A7%E7%BB%8F%E6%B5%8E%E5%B8%88%E8%80%83%E8%AF%95&key=%E5%88%9D%E7%BA%A7%E7%BB%8F%E6%B5%8E%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%88%9D%E7%BA%A7%E7%BB%8F%E6%B5%8E%E5%B8%88%E8%80%83%E8%AF%95&key=%E5%88%9D%E7%BA%A7%E7%BB%8F%E6%B5%8E%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">初级经济师
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">11月1日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8B%9B%E6%A0%87%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%8B%9B%E6%A0%87%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8B%9B%E6%A0%87%E5%B8%88%E8%80%83%E8%AF%95&key=%E6%8B%9B%E6%A0%87%E5%B8%88%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">招标师
          </span>

          <span class="exam-time">11月1、2日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">11月1、8、13、22日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">11月2、8、9、29日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8A%A5%E5%85%B3%E5%91%98%E8%80%83%E8%AF%95&key=%E6%8A%A5%E5%85%B3%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8A%A5%E5%85%B3%E5%91%98%E8%80%83%E8%AF%95&key=%E6%8A%A5%E5%85%B3%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">报关员
          </span>

          <span class="exam-time">11月2日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%8F%A3%E8%AF%91%E7%AC%94%E8%AF%91%E8%80%83%E8%AF%95&key=%E5%8F%A3%E8%AF%91%E7%AC%94%E8%AF%91%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%8F%A3%E8%AF%91%E7%AC%94%E8%AF%91%E8%80%83%E8%AF%95&key=%E5%8F%A3%E8%AF%91%E7%AC%94%E8%AF%91%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">口译笔译
          </span>

          <span class="exam-time">11月8、9日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95&key=%E5%95%86%E5%8A%A1%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">商务英语
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">11月15、22、29日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95&key=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">国家公务员
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">11月24日</span>
        </a>


        </li>
        <li class="exam-item" data-month="12">
        <a href="javascript:if(confirm('http://www.exam8.com/kuaiji/ACCA/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/kuaiji/ACCA/'" target="_blank" class="exam-desc">
          <span class="exam-name">ACCA考试
          </span>

          <span class="exam-time">12月1-10日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95&key=%E9%9B%85%E6%80%9D%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">雅思考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">12月4、6、13、20日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95&key=%E6%89%98%E7%A6%8F%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">托福考试
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">12月6、13、14、21日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GRE/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GRE/'" target="_blank" class="exam-desc">
          <span class="exam-name">GRE考试
          </span>

          <span class="exam-time">12月7、20日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8A%A5%E6%A3%80%E5%91%98%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%8A%A5%E6%A3%80%E5%91%98%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E6%8A%A5%E6%A3%80%E5%91%98%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95&key=%E6%8A%A5%E6%A3%80%E5%91%98%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">报检员
          </span>

          <span class="exam-time">12月7日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">大学英语四级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">12月20日</span>
        </a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95&key=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%85%AD%E7%BA%A7%E8%80%83%E8%AF%95'" target="_blank" class="exam-desc">
          <span class="exam-name">大学英语六级
            <i class="c-text c-text-danger icon-hui">热</i>
          </span>

          <span class="exam-time">12月20日</span>
        </a>
        <a href="javascript:if(confirm('http://www.exam8.com/english/GMAT/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/GMAT/'" target="_blank" class="exam-desc">
          <span class="exam-name">GMAT考试
          </span>

          <span class="exam-time">每周二至周四</span>
        </a>


        </li>

      </ul>
    </div>
    <div class="exam-footer">
      <div class="footer-wrapper">
        <h2>教育百宝箱</h2>
        <div class="footer-images">
          <a class="images-left" target="_blank" href="javascript:if(confirm('http://www.aoji.cn/zhuanti/20131205/831/?utm_source=baidu&utm_medium=cpc&utm_campaign=010  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.aoji.cn/zhuanti/20131205/831/?utm_source=baidu&utm_medium=cpc&utm_campaign=010'"></a>
          <a class="images-middle" target="_blank" href="javascript:if(confirm('http://v.huatu.com/zhuanti/sthz/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://v.huatu.com/zhuanti/sthz/'"></a>
          <a class="images-right" target="_blank" href="javascript:if(confirm('http://fanyi.baidu.com/translate  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://fanyi.baidu.com/translate#auto/zh/'"></a>
        </div>
      </div>
    </div>
  </div>
  </div>    
