<div id="general-floor-wrapper">
  <div class="second-floor floors">
    <div class="hot-search">
      <h2 class="hot-search-title">
        热门搜索
      </h2>
      <div class="hot-search-container" data-click='{"act":"a_click_hot", "mod":"content_hot_search", "fr":"ns","cat":"hot_search"}'>
        <ul>
          <li class="row1">
          <a class="row1-1 row1-1-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BC%9A%E8%AE%A1%E4%BB%8E%E4%B8%9A%E8%B5%84%E6%A0%BC%E8%80%83%E8%AF%95'" title="会计从业资格考试">会计从业资格考试</a>


          <a class="row1-2 row1-2-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?originQuery=%E5%9C%A8%E7%BA%BF%E5%85%8D%E8%B4%B9%E8%8B%B1%E8%AF%AD%E5%9F%B9%E8%AE%AD  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?originQuery=%E5%9C%A8%E7%BA%BF%E5%85%8D%E8%B4%B9%E8%8B%B1%E8%AF%AD%E5%9F%B9%E8%AE%AD'" title="在线免费英语培训">在线免费英语培训</a>


          <a class="row1-3" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?originQuery=%E5%B0%8F%E5%90%83%E5%9F%B9%E8%AE%AD  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?originQuery=%E5%B0%8F%E5%90%83%E5%9F%B9%E8%AE%AD'"  target="_blank" title="小吃培训">小吃培训</a>
          </li>

          <li class="row2">

          <a class="row2-1 row2-1-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%A4%A7%E5%AD%A6%E8%8B%B1%E8%AF%AD%E5%9B%9B%E7%BA%A7%E8%80%83%E8%AF%95'" title="大学英语四级考试">大学英语四级考试</a>

          <a class="row2-2 row2-2-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=2014%E4%B8%96%E7%95%8C%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=2014%E4%B8%96%E7%95%8C%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D'" title="2014世界大学排名">2014世界大学排名</a>

          <a class="row2-3 row2-3-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E5%9B%BD%E5%AE%B6%E5%85%AC%E5%8A%A1%E5%91%98%E8%80%83%E8%AF%95'" title="国家公务员考试">国家公务员考试</a>

          </li>
          <li class="row3">



          <a class="row3-3 row3-3-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?originQuery=%E6%B1%BD%E8%BD%A6%E9%A9%BE%E9%A9%B6%E7%90%86%E8%AE%BA%E5%9F%B9%E8%AE%AD  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?originQuery=%E6%B1%BD%E8%BD%A6%E9%A9%BE%E9%A9%B6%E7%90%86%E8%AE%BA%E5%9F%B9%E8%AE%AD'" title="汽车驾驶理论培训">汽车驾驶理论培训</a>

          <a class="row3-2"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%95%99%E5%AD%A6'" title="留学">留学</a>

          <a class="row3-4 row3-4-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E4%BA%8C%E7%BA%A7%E5%BB%BA%E9%80%A0%E5%B8%88%E8%80%83%E8%AF%95'" title="二级建造师考试">二级建造师考试</a>

          <a class="row3-1 row3-1-double"  target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/exam?originQuery=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/exam?originQuery=%E8%81%8C%E7%A7%B0%E8%8B%B1%E8%AF%AD%E8%80%83%E8%AF%95'" title="职称英语考试">职称英语考试</a>
          </li>
        </ul>
      </div>
      </div>                    <div class="daily-news" data-click='{"act":"a_click_news_more", "mod":"content_news_image", "fr":"ns","cat":"daily_news_image"} '>
      <h2 class="daily-news-title">
        今日焦点
        <a class="more-news" href="javascript:if(confirm('http://jiaoyu.news.baidu.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jiaoyu.news.baidu.com/'" target="_blank">更多&gt;&gt;</a>
      </h2>
      <div class="daily-news-container" data-click='{"act":"a_click_news", "mod":"content_daily_news", "fr":"ns","cat":"daily_news"} '>
        <ul>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163571.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163571.html'" target="_blank">叁陆零教育集团：英国利物浦大学建筑硕士专业信</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163571.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163571.html'" target="_blank">叁陆零教育集团：英国利物浦大学建筑硕士专业信</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://www.gx.xinhuanet.com/dtzx/wzswz/2014-05/08/c_1110591738.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.gx.xinhuanet.com/dtzx/wzswz/2014-05/08/c_1110591738.htm'" target="_blank">广西面向全国公选1500名大学生村官 梧州选聘95名</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://www.gx.xinhuanet.com/dtzx/wzswz/2014-05/08/c_1110591738.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.gx.xinhuanet.com/dtzx/wzswz/2014-05/08/c_1110591738.htm'" target="_blank">广西面向全国公选1500名大学生村官 梧州选聘95名</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163551.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163551.html'" target="_blank">新加坡留学：东亚管理学院建校历史解读</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163551.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163551.html'" target="_blank">新加坡留学：东亚管理学院建校历史解读</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163550.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163550.html'" target="_blank">2014年新加坡留学就业工作常识须知</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163550.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163550.html'" target="_blank">2014年新加坡留学就业工作常识须知</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163570.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163570.html'" target="_blank">叁陆零教育集团：英国林肯大学拥有最现代化和最</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5163570.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5163570.html'" target="_blank">叁陆零教育集团：英国林肯大学拥有最现代化和最</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://news.yntv.cn/content/73/201405/08/73_885811.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://news.yntv.cn/content/73/201405/08/73_885811.shtml'" target="_blank">云南省教育厅：再用三年 基本缓解幼儿入园难问题</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://news.yntv.cn/content/73/201405/08/73_885811.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://news.yntv.cn/content/73/201405/08/73_885811.shtml'" target="_blank">云南省教育厅：再用三年 基本缓解幼儿入园难问题</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://gaozhong.eol.cn/bei_jing_9194/20140508/t20140508_1110878.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://gaozhong.eol.cn/bei_jing_9194/20140508/t20140508_1110878.shtml'" target="_blank">北京大学2014年高考计划在北京招生200人</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://gaozhong.eol.cn/bei_jing_9194/20140508/t20140508_1110878.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://gaozhong.eol.cn/bei_jing_9194/20140508/t20140508_1110878.shtml'" target="_blank">北京大学2014年高考计划在北京招生200人</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://jiangxi.jxnews.com.cn/system/2014/05/08/013089884.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jiangxi.jxnews.com.cn/system/2014/05/08/013089884.shtml'" target="_blank">江西2014年高考每个考场将统一配置静音挂钟</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://jiangxi.jxnews.com.cn/system/2014/05/08/013089884.shtml  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jiangxi.jxnews.com.cn/system/2014/05/08/013089884.shtml'" target="_blank">江西2014年高考每个考场将统一配置静音挂钟</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://www.shuyang.tv/news/suqian/2014-05-08/123513.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.shuyang.tv/news/suqian/2014-05-08/123513.html'" target="_blank">宿迁团市委启动“12355阳光行动”助中高考生轻松</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://www.shuyang.tv/news/suqian/2014-05-08/123513.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.shuyang.tv/news/suqian/2014-05-08/123513.html'" target="_blank">宿迁团市委启动“12355阳光行动”助中高考生轻松</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5160926.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5160926.html'" target="_blank">英国教育联盟：英国纽卡斯尔大学计算机专业</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://act.youth.cn/hdlt/201405/t20140508_5160926.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://act.youth.cn/hdlt/201405/t20140508_5160926.html'" target="_blank">英国教育联盟：英国纽卡斯尔大学计算机专业</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>
          <li class="news-item">
          <div class="layer">
            <div class="news real">
              <a class="news-info" href="javascript:if(confirm('http://cq.cqnews.net/html/2014-05/08/content_30712498.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://cq.cqnews.net/html/2014-05/08/content_30712498.htm'" target="_blank">上半年市级机关公务员遴选 综合知识测试58分算合</a>
              <span class="news-time">2014-05-08</span>
            </div>
            <div class="news dummy">
              <a class="news-info" href="javascript:if(confirm('http://cq.cqnews.net/html/2014-05/08/content_30712498.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://cq.cqnews.net/html/2014-05/08/content_30712498.htm'" target="_blank">上半年市级机关公务员遴选 综合知识测试58分算合</a>
              <span class="news-time">2014-05-08</span>
            </div>
          </div>
          </li>

        </ul>
        <div class="news-image" data-click='{"act":"a_click_calendar_image", "mod":"content_news_image", "fr":"ns","cat":"daily_news_image"} '>
          <a target="_blank" class="image-left" href="javascript:if(confirm('http://jingyan.baidu.com/z/2013gk/index.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/z/2013gk/index.html'">
            <span>
              高考必备实用宝典
            </span>
          </a>
          <a target="_blank" class="image-middle" href="javascript:if(confirm('http://jingyan.baidu.com/album/e4511cf318e2b52b845eafe0.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/e4511cf318e2b52b845eafe0.html'">
            <span>
              美国留学行李准备
            </span>
          </a>
          <a target="_blank" class="image-right" href="javascript:if(confirm('http://jingyan.baidu.com/magazine/7639  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/magazine/7639'">
            <span>
              孩子教育那点事
            </span>
          </a>
        </div>
      </div>
      </div>                    <div class="hot-course">
      <h2 class="hot-course-title">课程排行</h2>
      <div class="hot-course-container" data-click='{"act":"a_click_hot_course", "mod":"content_hot_course", "fr":"ns","cat":"hot_course_list"}'>
      </div>
    </div>
  </div>
</div>
