<div class="class-floor-wrapper learn-floor-wrapper" data-click='{"act":"a_click_floor", "mod":"content_floor", "fr":"ns","cat":"floors"}'>
  <div class="class-floor learn-floor">
    <div class="content-container">

      <div class="content-meta">
        <div class="data-selection">
          <h2>精选资料</h2>
          <div class="data-content">
            <div class="data-image">
              <a target="_blank" href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=ielts&y=2013&stab=1  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=ielts&y=2013&stab=1'">
                <img src="/six/fFhOuUjLBmgwZWVenFvkrUjenGv3XURbZIkLZI8IuWkY.jpg" />
                <p>
                <span>
                  雅思考试报考指南
                </span>
                </p>
              </a>
              <a target="_blank" href="javascript:if(confirm('http://wenku.baidu.com/portal/topic/toefl/lishijijing?year=0&mon=9&type=0  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/topic/toefl/lishijijing?year=0&mon=9&type=0'">
                <img src="/six/fFhOuUjLuWjaBmAenFvkrUjenGv3XURbZIkLZI8IuUAI.jpg" />
                <p>
                <span>
                  托福考试历年真题
                </span>
                </p>
              </a>
            </div>
            <ul class="data-list">
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/portal/topic/ielts/lishijijing?year=0&mon=9&type=0  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/topic/ielts/lishijijing?year=0&mon=9&type=0'" target="_blank">雅思考试历年真题</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://toefl.xdf.cn/201306/9433368.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://toefl.xdf.cn/201306/9433368.html'" target="_blank">托福阅读考题答案及解析</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://ielts.xdf.cn/201308/9599800.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://ielts.xdf.cn/201308/9599800.html'" target="_blank">雅思阅读速度与技巧两手抓</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://gre.xdf.cn/list_2665_1.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://gre.xdf.cn/list_2665_1.html'" target="_blank">GRE考试真题回忆</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/43fa614c33687e21af45a9c4.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/43fa614c33687e21af45a9c4.html'" target="_blank">GMAT考试历年机经真题</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://www.exam8.com/english/CET46/dongtai/201312/2777171.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.exam8.com/english/CET46/dongtai/201312/2777171.html'" target="_blank">大学英语四级六级考试流程</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://cet4.koolearn.com/zhuanti/2013cet4daan/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://cet4.koolearn.com/zhuanti/2013cet4daan/'" target="_blank">大学英语四级真题及解析</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=pets&z=all&y=2013&stab=1  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=pets&z=all&y=2013&stab=1'" target="_blank">公共英语考试报考指南</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://www.wangxiao.cn/catti/shiti/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.wangxiao.cn/catti/shiti/'" target="_blank">口译笔译考试历年真题</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hot-question">
          <h2>热门问答</h2>
          <div class="hot-content">
            <div class="hot-image">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/309629570  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/309629570'" target="_blank">
                <img src="/six/fFhOuUjLBmkLBUZenFvkrUjenGv3XURbZIkLZI8IuUsL.jpg" />
                <p>
                <span>
                  雅思听力的评分标准
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/308208819  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/308208819'" target="_blank">
                <img src="/six/fFhOuUjLuWjSZIAenFvkrUjenGv3XURbZIkLZI8IuU8R.jpg" />
                <p>
                <span>
                  托福TPO是什么
                </span>
                </p>
              </a>
            </div>
            <ul class="hot-list">
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/430085361  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/430085361'" target="_blank">
                托福和雅思区别
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/427256546  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/427256546'" target="_blank">
                雅思跟托福哪个难
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/318766708  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/318766708'" target="_blank">
                雅思考试流程
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/375152371  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/375152371'" target="_blank">
                美国大学对新GRE分数要求
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/331990226  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/331990226'" target="_blank">
                GMAT是什么考试
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/382293106  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/382293106'" target="_blank">
                大学英语四级多少分过
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/330867064  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/330867064'" target="_blank">
                英语四级考试技巧有哪些
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/438373484  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/438373484'" target="_blank">
                六级作文万能模板
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/316654501  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/316654501'" target="_blank">
                托业考试资料哪本比较好
              </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="recent-experience">
          <h2>最新经验</h2>
          <div class="recent-content">
            <div class="recent-image">
              <a href="javascript:if(confirm('http://jingyan.baidu.com/album/ca00d56c89e7f1e99eebcfeb.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/ca00d56c89e7f1e99eebcfeb.html'" target="_blank">
                <img src="/six/fFhOuUjLuWjYZWAenFvkrUjenGv3XURbZIkLZI8IuUgM.jpg" />
                <p>
                <span>
                  初中生寒假如何复习
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://jingyan.baidu.com/album/4853e1e5355a281909f726d1.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/4853e1e5355a281909f726d1.html'" target="_blank">
                <img src="/six/fFhOuUjLBmkaBU8enFvkrUjenGv3XURbZIkLZI8RZWja.jpg" />
                <p>
                <span>
                  怎样快速记单词
                </span>
                </p>
              </a>
            </div>
            <ul class="recent-list">
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/6dad5075cb2f6ea123e36ed2.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/6dad5075cb2f6ea123e36ed2.html'">激发孩子学习潜能的方法</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/ae97a646aef1a2bbfc461d47.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/ae97a646aef1a2bbfc461d47.html'">过年的作文怎么写</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/08b6a591f2eafe14a9092265.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/08b6a591f2eafe14a9092265.html'">考研英语的高分秘诀</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/295430f137dae30c7e00508b.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/295430f137dae30c7e00508b.html'">寒假该如何准备雅思考试</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/19020a0ada570f529d2842f7.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/19020a0ada570f529d2842f7.html'">怎样提高学习效率</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/455a9950e9b1e3a1662778b3.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/455a9950e9b1e3a1662778b3.html'">高考文综技巧</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/a501d80ccaf0f4ec620f5e61.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/a501d80ccaf0f4ec620f5e61.html'">六大方面和你谈托福备考</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/d3b74d648bbd4b1f76e60947.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/d3b74d648bbd4b1f76e60947.html'">读书笔记怎么写</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/b7001fe17773960e7282dddc.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/b7001fe17773960e7282dddc.html'">10句话提高孩子学习能力</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="content-footer">
        <div class="course-rank">
          <div class="course-nav">
            <a class="show-more" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=01  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=01'">更多&gt;&gt;</a>
            <div class="hot-course">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=010101  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=010101'" target="_blank">英语培训</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=010201  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=010201'" target="_blank">高中</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=010203  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=010203'" target="_blank">小学</a>
            </div>

            <h2>课程排行</h2>
          </div>
          <ul class="course-list">
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpOREk1Sm5wNFgzRnBaRDB4TXprd01qQTVPREkzT0RJNU9UVTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUTXdOemt6TVRVbWNHeGhibDlwWkQweE1UUTRORGcyTnlaMWJtbDBYMmxrUFRJM05qSTBNall3TnlacFpHVmhYMmxrUFRFeU1UQXdOamMxTURnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnZiM04wTG05eVp5NWpiaVV5Um1OaGRHVm5iM0o1SlRKR1oyMWhkQT09&pm=573beac3bb6fa941d1192eef712c0357  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpOREk1Sm5wNFgzRnBaRDB4TXprd01qQTVPREkzT0RJNU9UVTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUTXdOemt6TVRVbWNHeGhibDlwWkQweE1UUTRORGcyTnlaMWJtbDBYMmxrUFRJM05qSTBNall3TnlacFpHVmhYMmxrUFRFeU1UQXdOamMxTURnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnZiM04wTG05eVp5NWpiaVV5Um1OaGRHVm5iM0o1SlRKR1oyMWhkQT09&pm=573beac3bb6fa941d1192eef712c0357'" target="_blank">
              <img src="/six/fFhOuUjLuWjYuUAenFvkrUjenGv3XURbZIkLZI8RZWCq.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpOREk1Sm5wNFgzRnBaRDB4TXprd01qQTVPREkzT0RJNU9UVTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUTXdOemt6TVRVbWNHeGhibDlwWkQweE1UUTRORGcyTnlaMWJtbDBYMmxrUFRJM05qSTBNall3TnlacFpHVmhYMmxrUFRFeU1UQXdOamMxTURnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnZiM04wTG05eVp5NWpiaVV5Um1OaGRHVm5iM0o1SlRKR1oyMWhkQT09&pm=573beac3bb6fa941d1192eef712c0357  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpOREk1Sm5wNFgzRnBaRDB4TXprd01qQTVPREkzT0RJNU9UVTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUTXdOemt6TVRVbWNHeGhibDlwWkQweE1UUTRORGcyTnlaMWJtbDBYMmxrUFRJM05qSTBNall3TnlacFpHVmhYMmxrUFRFeU1UQXdOamMxTURnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnZiM04wTG05eVp5NWpiaVV5Um1OaGRHVm5iM0o1SlRKR1oyMWhkQT09&pm=573beac3bb6fa941d1192eef712c0357'" target="_blank">
                管卫东GMAT经典零基础班
              </a>
              </p>
              <span class="course-price">
                ￥9800
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.ui-usa.cn/news_detail1/newsId=11.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.ui-usa.cn/news_detail1/newsId=11.html'" target="_blank">
              <img src="/six/fFhOuUjLBmkIZU8enFvkrUjenGv3XURbZIkLZI8RZWAM.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.ui-usa.cn/news_detail1/newsId=11.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.ui-usa.cn/news_detail1/newsId=11.html'" target="_blank">
                口语培训跟外教大声英语
              </a>
              </p>
              <span class="course-price">
                ￥1000起
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTXdOVEk1Sm5wNFgzRnBaRDB4TXprd01qRXdOakF5T0RFeU56WTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BURTROemsyT1RRbWNHeGhibDlwWkQweE1qSTFNakExTnlaMWJtbDBYMmxrUFRNeE1qWTNOalkwTWlacFpHVmhYMmxrUFRFek5UYzNOek01TWpjbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtUmxiR3hsYm1kc2FYTm9MbU52YlNVeVJrMXBibWxUTG1GemNBPT0%3D&pm=ddc001267bbe0d1488728de0bb7b6a49  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTXdOVEk1Sm5wNFgzRnBaRDB4TXprd01qRXdOakF5T0RFeU56WTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BURTROemsyT1RRbWNHeGhibDlwWkQweE1qSTFNakExTnlaMWJtbDBYMmxrUFRNeE1qWTNOalkwTWlacFpHVmhYMmxrUFRFek5UYzNOek01TWpjbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtUmxiR3hsYm1kc2FYTm9MbU52YlNVeVJrMXBibWxUTG1GemNBPT0%3D&pm=ddc001267bbe0d1488728de0bb7b6a49'" target="_blank">
              <img src="/six/fFhOuUjLBmkIBUCenFvkrUjenGv3XURbZIkLZI8RZWhL.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTXdOVEk1Sm5wNFgzRnBaRDB4TXprd01qRXdOakF5T0RFeU56WTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BURTROemsyT1RRbWNHeGhibDlwWkQweE1qSTFNakExTnlaMWJtbDBYMmxrUFRNeE1qWTNOalkwTWlacFpHVmhYMmxrUFRFek5UYzNOek01TWpjbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtUmxiR3hsYm1kc2FYTm9MbU52YlNVeVJrMXBibWxUTG1GemNBPT0%3D&pm=ddc001267bbe0d1488728de0bb7b6a49  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTXdOVEk1Sm5wNFgzRnBaRDB4TXprd01qRXdOakF5T0RFeU56WTNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BURTROemsyT1RRbWNHeGhibDlwWkQweE1qSTFNakExTnlaMWJtbDBYMmxrUFRNeE1qWTNOalkwTWlacFpHVmhYMmxrUFRFek5UYzNOek01TWpjbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtUmxiR3hsYm1kc2FYTm9MbU52YlNVeVJrMXBibWxUTG1GemNBPT0%3D&pm=ddc001267bbe0d1488728de0bb7b6a49'" target="_blank">
                少儿英语学习效果专家
              </a>
              </p>
              <span class="course-price">

              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/course/index?id=TVRVM01UVT0%3D&city=%E4%B8%8A%E8%AF%BE%E5%9F%8E%E5%B8%82&query=  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/course/index?id=TVRVM01UVT0%3D&city=%E4%B8%8A%E8%AF%BE%E5%9F%8E%E5%B8%82&query='" target="_blank">
              <img src="/six/fFhOuUjLuWjwuUsenFvkrUjenGv3XURbZIkLZI8RZWVI.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/course/index?id=TVRVM01UVT0%3D&city=%E4%B8%8A%E8%AF%BE%E5%9F%8E%E5%B8%82&query=  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/course/index?id=TVRVM01UVT0%3D&city=%E4%B8%8A%E8%AF%BE%E5%9F%8E%E5%B8%82&query='" target="_blank">
                自考培训名校直录班
              </a>
              </p>
              <span class="course-price">
                ￥1500
              </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="rec-org">
          <div class="org-nav">
            <a class="more-org" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0101  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0101'">更多&gt;&gt;</a>
            <h2>推荐机构</h2>
          </div>
          <ul class="org-list">
            <a href="javascript:if(confirm('http://www.boost.org.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.boost.org.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">博智教育</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLBIVwBWCenFvkrUjenGv3XURbZIkLZI8SZmkb.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.ui-usa.cn/html/online9.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.ui-usa.cn/html/online9.html'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">环球美联</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuW8bBIgenFvkrUjenGv3XURbZIkLZI8SZIAL.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.dellenglish.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.dellenglish.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">朗文少儿英语</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuW8aZWAenFvkrUjenGv3XURbZIkLZI8SZIZR.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.sunland.org.cn/index/school/bj/zk/zk4/index.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.sunland.org.cn/index/school/bj/zk/zk4/index.html'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">尚德自考学院</p>
              <span class="org-star star-img-4"> </span>
              <img src="/six/fFhOuUjLuW8aZUAenFvkrUjenGv3XURbZIkLZI8SZIhR.jpg">

              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-container learn-floor-bg">
      <div class="bg-btns">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0101  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0101'" target="_blank">语言培训</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0102  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0102'" target="_blank">中小学/幼儿</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0103  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0103'" target="_blank">大学/考研</a>
      </div>
    </div>
  </div>

</div>
