<div class="class-floor-wrapper live-floor-wrapper" data-click='{"act":"a_click_floor", "mod":"content_floor", "fr":"ns","cat":"floors"}'>
  <div class="class-floor live-floor">
    <div class="content-container">

      <div class="content-meta">
        <div class="data-selection">
          <h2>精选资料</h2>
          <div class="data-content">
            <div class="data-image">
              <a target="_blank" href="javascript:if(confirm('http://wenku.baidu.com/view/2296022fcfc789eb172dc899.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/2296022fcfc789eb172dc899.html'">
                <img src="/six/fFhOuUjRBm8SBW8enFvkrUjenGv3XURbZIkLBWVqZWCa.jpg" />
                <p>
                <span>
                  婴儿玩具的选择
                </span>
                </p>
              </a>
              <a target="_blank" href="javascript:if(confirm('http://wenku.baidu.com/view/23aa8af6ba0d4a7302763a42.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/23aa8af6ba0d4a7302763a42.html'">
                <img src="/six/fFhOuUjRBIkqBUgenFvkrUjenGv3XURbZIkLBWVqZWZb.jpg" />
                <p>
                <span>
                  激发个人潜能
                </span>
                </p>
              </a>
            </div>
            <ul class="data-list">
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/018f188b680203d8ce2f246f.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/018f188b680203d8ce2f246f.html'" target="_blank">王羲之书法作品欣赏</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/588c3862783e0912a2162aae.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/588c3862783e0912a2162aae.html'" target="_blank">中国传统绘画欣赏</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/b8430cea856a561252d36f6d.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/b8430cea856a561252d36f6d.html'" target="_blank">各种舞蹈简介</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/105299828762caaedd33d4db.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/105299828762caaedd33d4db.html'" target="_blank">中国民族乐器欣赏</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/732ddf661ed9ad51f01df219.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/732ddf661ed9ad51f01df219.html'" target="_blank">儿童绘画入门</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/c469166f7e21af45b307a830.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/c469166f7e21af45b307a830.html'" target="_blank">健身房健身计划表</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/29a4f96f25c52cc58bd6bee5.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/29a4f96f25c52cc58bd6bee5.html'" target="_blank">珍藏的名人演讲</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/f78d31c189eb172ded63b7ab.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/f78d31c189eb172ded63b7ab.html'" target="_blank">汽车驾驶技术</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/0667ab26ccbff121dd3683c6.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/0667ab26ccbff121dd3683c6.html'" target="_blank">个人理财规划书</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hot-question">
          <h2>热门问答</h2>
          <div class="hot-content">
            <div class="hot-image">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/24762560.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/24762560.html'" target="_blank">
                <img src="/six/fFhOuUjRuWjYBIsenFvkrUjenGv3XURbZIkLBWVqZUAw.jpg" />
                <p>
                <span>
                  中国书法的介绍
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/65722203.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/65722203.html'" target="_blank">
                <img src="/six/fFhOuUjRBmgYuUkenFvkrUjenGv3XURbZIkLBWVqZUZY.jpg" />
                <p>
                <span>
                  孕妇饮食禁忌
                </span>
                </p>
              </a>
            </div>
            <ul class="hot-list">
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/310798851.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/310798851.html'" target="_blank">
                适合女生的舞蹈种类有什么
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/317883184.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/317883184.html'" target="_blank">
                武术基本功训练计划
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/277893626.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/277893626.html'" target="_blank">
                健身计划安排
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/319387304.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/319387304.html'" target="_blank">
                驾驶证分类
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/120258409.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/120258409.html'" target="_blank">
                自己在家怎么练声乐发声
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/282231095.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/282231095.html'" target="_blank">
                上台演讲技巧
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/16043389.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/16043389.html'" target="_blank">
                婴儿急疹症状
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/398935061.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/398935061.html'" target="_blank">
                如何理财最好
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/336037334.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/336037334.html'" target="_blank">
                怎样发挥自己的潜能
              </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="recent-experience">
          <h2>最新经验</h2>
          <div class="recent-content">
            <div class="recent-image">
              <a href="javascript:if(confirm('http://jingyan.baidu.com/album/91f5db1bf724c01c7f05e3a9.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/91f5db1bf724c01c7f05e3a9.html'" target="_blank">
                <img src="/six/fFhOuUjRuWASBWjenFvkrUjenGv3XURbZIkLBWVqZIZL.jpg" />
                <p>
                <span>
                  演讲比赛如何准备
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://jingyan.baidu.com/magazine/16281  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/magazine/16281'" target="_blank">
                <img src="/six/fFhOuUjRuWAYBUsenFvkrUjenGv3XURbZIkLBWVqZIha.jpg" />
                <p>
                <span>
                  股票原创技术总结
                </span>
                </p>
              </a>
            </div>
            <ul class="recent-list">
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/75ab0bcbf5a04ed6864db293.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/75ab0bcbf5a04ed6864db293.html'">如何写黑板报大字</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/2a13832851d9ce074a134fc7.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/2a13832851d9ce074a134fc7.html'">孕妇待产如何挑医院</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/02027811ad30c31bcc9ce595.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/02027811ad30c31bcc9ce595.html'">春季宝宝护理经</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/19192ad84a7f55e53e57079b.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/19192ad84a7f55e53e57079b.html'">新手外汇开户必看</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/0aa22375be77b188cc0d6491.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/0aa22375be77b188cc0d6491.html'">考驾照注意事项</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/1612d5001bf9c3e20f1eee47.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/1612d5001bf9c3e20f1eee47.html'">用织布做糖果相机套</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/magazine/16396  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/magazine/16396'">春节窗花大全</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/magazine/15915  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/magazine/15915'">怀孕必知的那些事儿</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/magazine/14792  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/magazine/14792'">运动健身速成技巧</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="content-footer">
        <div class="course-rank">
          <div class="course-nav">
            <a class="show-more" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=03  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=03'">更多&gt;&gt;</a>
            <div class="hot-course">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=030103  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=030103'" target="_blank">舞蹈培训</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=030105  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=030105'" target="_blank">美术培训</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=030204  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=030204'" target="_blank">驾驶</a>
            </div>

            <h2>课程排行</h2>
          </div>
          <ul class="course-list">
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.yidukongjian.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.yidukongjian.com/'" target="_blank">
              <img src="/six/fFhOuUjRBIjMBUZenFvkrUjenGv3XURbZIkLBWVqZIsS.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.yidukongjian.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.yidukongjian.com/'" target="_blank">
                成人吉他零基础班
              </a>
              </p>
              <span class="course-price">
                免费
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUWTJNVFV6Sm5wNFgzRnBaRDB4TXprd05EUTNNVGN3TnpNek5EWXpKbU5wZEhrOUpVVTFKVGhESlRrM0pVVTBKVUpCSlVGREptTnBkSGxmYVdROU1TWjFjMlZ5WDJsa1BUSTRPRGcyT1RNbWNHeGhibDlwWkQweE1qYzRNRE0xTnlaMWJtbDBYMmxrUFRNek5qY3hORGd5TVNacFpHVmhYMmxrUFRFME5UTXpNREl4T1RnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnFhMjVxTG1OdmJTVXlSbTVsZDNNbE1rWXlNREV4TVRJeU56RXpNVE15T1RVek1TNW9kRzFz&pm=d90fff0635fa3c04e01767d35045cca2  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUWTJNVFV6Sm5wNFgzRnBaRDB4TXprd05EUTNNVGN3TnpNek5EWXpKbU5wZEhrOUpVVTFKVGhESlRrM0pVVTBKVUpCSlVGREptTnBkSGxmYVdROU1TWjFjMlZ5WDJsa1BUSTRPRGcyT1RNbWNHeGhibDlwWkQweE1qYzRNRE0xTnlaMWJtbDBYMmxrUFRNek5qY3hORGd5TVNacFpHVmhYMmxrUFRFME5UTXpNREl4T1RnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnFhMjVxTG1OdmJTVXlSbTVsZDNNbE1rWXlNREV4TVRJeU56RXpNVE15T1RVek1TNW9kRzFz&pm=d90fff0635fa3c04e01767d35045cca2'" target="_blank">
              <img src="/six/fFhOuUjRBICLBUZenFvkrUjenGv3XURbZIkLBWVqZI8Y.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUWTJNVFV6Sm5wNFgzRnBaRDB4TXprd05EUTNNVGN3TnpNek5EWXpKbU5wZEhrOUpVVTFKVGhESlRrM0pVVTBKVUpCSlVGREptTnBkSGxmYVdROU1TWjFjMlZ5WDJsa1BUSTRPRGcyT1RNbWNHeGhibDlwWkQweE1qYzRNRE0xTnlaMWJtbDBYMmxrUFRNek5qY3hORGd5TVNacFpHVmhYMmxrUFRFME5UTXpNREl4T1RnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnFhMjVxTG1OdmJTVXlSbTVsZDNNbE1rWXlNREV4TVRJeU56RXpNVE15T1RVek1TNW9kRzFz&pm=d90fff0635fa3c04e01767d35045cca2  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUWTJNVFV6Sm5wNFgzRnBaRDB4TXprd05EUTNNVGN3TnpNek5EWXpKbU5wZEhrOUpVVTFKVGhESlRrM0pVVTBKVUpCSlVGREptTnBkSGxmYVdROU1TWjFjMlZ5WDJsa1BUSTRPRGcyT1RNbWNHeGhibDlwWkQweE1qYzRNRE0xTnlaMWJtbDBYMmxrUFRNek5qY3hORGd5TVNacFpHVmhYMmxrUFRFME5UTXpNREl4T1RnbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xtSnFhMjVxTG1OdmJTVXlSbTVsZDNNbE1rWXlNREV4TVRJeU56RXpNVE15T1RVek1TNW9kRzFz&pm=d90fff0635fa3c04e01767d35045cca2'" target="_blank">
                演讲培训之当众讲话集训班
              </a>
              </p>
              <span class="course-price">
                ￥3800
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://uibe.iarfp.org.cn/chinese/trainingcourses/licai.asp  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://uibe.iarfp.org.cn/chinese/trainingcourses/licai.asp'" target="_blank">
              <img src="/six/fFhOuUjRBICbBmCenFvkrUjenGv3XURbZIkLBWVqZIgS.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://uibe.iarfp.org.cn/chinese/trainingcourses/licai.asp  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://uibe.iarfp.org.cn/chinese/trainingcourses/licai.asp'" target="_blank">
                国际金融理财师双证班
              </a>
              </p>
              <span class="course-price">
                ￥19800
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUSXhOell5TUNaNmVGOXhhV1E5TVRNNU5USTRPRGMzTURFNU9UZ3dOQ1pqYVhSNVBTVkZOQ1ZDT0NVNFFTVkZPQ1ZCUmlWQ1JTVkZOU1U1UmlVNFJTVkZOU1ZDT0NVNE1pWmphWFI1WDJsa1BUQW1kWE5sY2w5cFpEMDJPRGN5TnpVMkpuQnNZVzVmYVdROU1UUTJNRFk1TkRRbWRXNXBkRjlwWkQwME56TXdORFF5TWpFbWFXUmxZVjlwWkQweU1ERTROemt5TVRRekpuZHBibVp2WDJsa1BUQW1ZbkpuUFRFbWNuVTlhSFIwY0NVelFTVXlSaVV5Um5kM2R5NXlaV1I2YUdWdVp5NWpiMjBsTWtaMGMydGphR1Z1Wnk1aGMzQWxNMFpwWkNVelJERXlNdz09&pm=184f3190cdeab6f4816dd822e313b8bf  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUSXhOell5TUNaNmVGOXhhV1E5TVRNNU5USTRPRGMzTURFNU9UZ3dOQ1pqYVhSNVBTVkZOQ1ZDT0NVNFFTVkZPQ1ZCUmlWQ1JTVkZOU1U1UmlVNFJTVkZOU1ZDT0NVNE1pWmphWFI1WDJsa1BUQW1kWE5sY2w5cFpEMDJPRGN5TnpVMkpuQnNZVzVmYVdROU1UUTJNRFk1TkRRbWRXNXBkRjlwWkQwME56TXdORFF5TWpFbWFXUmxZVjlwWkQweU1ERTROemt5TVRRekpuZHBibVp2WDJsa1BUQW1ZbkpuUFRFbWNuVTlhSFIwY0NVelFTVXlSaVV5Um5kM2R5NXlaV1I2YUdWdVp5NWpiMjBsTWtaMGMydGphR1Z1Wnk1aGMzQWxNMFpwWkNVelJERXlNdz09&pm=184f3190cdeab6f4816dd822e313b8bf'" target="_blank">
              <img src="/six/u=2965783135,2398308886&fm=58.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUSXhOell5TUNaNmVGOXhhV1E5TVRNNU5USTRPRGMzTURFNU9UZ3dOQ1pqYVhSNVBTVkZOQ1ZDT0NVNFFTVkZPQ1ZCUmlWQ1JTVkZOU1U1UmlVNFJTVkZOU1ZDT0NVNE1pWmphWFI1WDJsa1BUQW1kWE5sY2w5cFpEMDJPRGN5TnpVMkpuQnNZVzVmYVdROU1UUTJNRFk1TkRRbWRXNXBkRjlwWkQwME56TXdORFF5TWpFbWFXUmxZVjlwWkQweU1ERTROemt5TVRRekpuZHBibVp2WDJsa1BUQW1ZbkpuUFRFbWNuVTlhSFIwY0NVelFTVXlSaVV5Um5kM2R5NXlaV1I2YUdWdVp5NWpiMjBsTWtaMGMydGphR1Z1Wnk1aGMzQWxNMFpwWkNVelJERXlNdz09&pm=184f3190cdeab6f4816dd822e313b8bf  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUSXhOell5TUNaNmVGOXhhV1E5TVRNNU5USTRPRGMzTURFNU9UZ3dOQ1pqYVhSNVBTVkZOQ1ZDT0NVNFFTVkZPQ1ZCUmlWQ1JTVkZOU1U1UmlVNFJTVkZOU1ZDT0NVNE1pWmphWFI1WDJsa1BUQW1kWE5sY2w5cFpEMDJPRGN5TnpVMkpuQnNZVzVmYVdROU1UUTJNRFk1TkRRbWRXNXBkRjlwWkQwME56TXdORFF5TWpFbWFXUmxZVjlwWkQweU1ERTROemt5TVRRekpuZHBibVp2WDJsa1BUQW1ZbkpuUFRFbWNuVTlhSFIwY0NVelFTVXlSaVV5Um5kM2R5NXlaV1I2YUdWdVp5NWpiMjBsTWtaMGMydGphR1Z1Wnk1aGMzQWxNMFpwWkNVelJERXlNdz09&pm=184f3190cdeab6f4816dd822e313b8bf'" target="_blank">
                儿童古筝启蒙兴趣班
              </a>
              </p>
              <span class="course-price">
                120
              </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="rec-org">
          <div class="org-nav">
            <a class="more-org" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0301  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0301'">更多&gt;&gt;</a>
            <h2>推荐机构</h2>
          </div>
          <ul class="org-list">
            <a href="javascript:if(confirm('http://www.yidukongjian.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.yidukongjian.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">艺度空间</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjRuWhbZmgenFvkrUjenGv3XURbZIkLBWVqBWkS.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.ycyspx.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.ycyspx.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">乐成国际音乐</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjRBIAIBWZenFvkrUjenGv3XURbZIkLBWVqBUjY.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.bjknj.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.bjknj.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">北京东方行知</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjRBIARZIVenFvkrUjenGv3XURbZIkLBWVqBUCS.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.jygupiao.com.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.jygupiao.com.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">金言股票</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjRuWhRBWAenFvkrUjenGv3XURbZIkLBWVqBUAw.jpg">

              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-container live-floor-bg">
      <div class="bg-btns">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0301  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0301'" target="_blank">文体艺术</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0302  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0302'" target="_blank">兴趣</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0303  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0303'" target="_blank">理财</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0304  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0304'" target="_blank">生活技能</a>
      </div>
    </div>
  </div>

</div>
<div class="class-floor-wrapper abroad-floor-wrapper" data-click='{"act":"a_click_floor", "mod":"content_floor", "fr":"ns","cat":"floors"}'>
  <div class="class-floor abroad-floor">
    <div class="content-container">

      <div class="content-meta">
        <div class="data-selection">
          <h2>留学</h2>
          <div class="data-content">
            <div class="data-image">
              <a target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6'">
                <img src="/six/fFhOuUjSZWgLBWhenFvkrUjenGv3XURbZIkLBWsbZUgw.jpg" />
                <p>
                <span>
                  英国留学
                </span>
                </p>
              </a>
              <a target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6'">
                <img src="/six/fFhOuUjSZWgbZWhenFvkrUjenGv3XURbZIkLBWsbZmjL.jpg" />
                <p>
                <span>
                  澳大利亚留学
                </span>
                </p>
              </a>
            </div>
            <ul class="data-list">
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D&key=%E8%8B%B1%E5%9B%BD%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D&key=%E8%8B%B1%E5%9B%BD%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D'" target="_blank">英国大学排名</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%85%A8%E7%90%83%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D2013&key=%E5%85%A8%E7%90%83%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D2013  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%85%A8%E7%90%83%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D2013&key=%E5%85%A8%E7%90%83%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D2013'" target="_blank">全球大学排名2013</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E4%B8%80%E5%B9%B4%E8%B4%B9%E7%94%A8&key=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E4%B8%80%E5%B9%B4%E8%B4%B9%E7%94%A8  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E4%B8%80%E5%B9%B4%E8%B4%B9%E7%94%A8&key=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E4%B8%80%E5%B9%B4%E8%B4%B9%E7%94%A8'" target="_blank">英国留学一年费用</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6%E8%B4%B9%E7%94%A8&key=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6%E8%B4%B9%E7%94%A8  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6%E8%B4%B9%E7%94%A8&key=%E6%BE%B3%E5%A4%A7%E5%88%A9%E4%BA%9A%E7%95%99%E5%AD%A6%E8%B4%B9%E7%94%A8'" target="_blank">澳大利亚留学费用</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%95%99%E5%AD%A6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%95%99%E5%AD%A6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%95%99%E5%AD%A6'" target="_blank">加拿大留学</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A%E7%95%99%E5%AD%A6&key=%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A%E7%95%99%E5%AD%A6&key=%E9%A9%AC%E6%9D%A5%E8%A5%BF%E4%BA%9A%E7%95%99%E5%AD%A6'" target="_blank">马来西亚留学</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%88%B1%E4%B8%81%E5%A0%A1%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D&key=%E8%8B%B1%E5%9B%BD%E7%88%B1%E4%B8%81%E5%A0%A1%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%88%B1%E4%B8%81%E5%A0%A1%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D&key=%E8%8B%B1%E5%9B%BD%E7%88%B1%E4%B8%81%E5%A0%A1%E5%A4%A7%E5%AD%A6%E6%8E%92%E5%90%8D'" target="_blank">英国爱丁堡大学排名</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%95%99%E5%AD%A6&key=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%95%99%E5%AD%A6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%95%99%E5%AD%A6&key=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%95%99%E5%AD%A6'" target="_blank">新西兰留学</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%87%BA%E5%9B%BD%E7%95%99%E5%AD%A6%E7%9A%84%E6%9D%A1%E4%BB%B6&key=%E5%87%BA%E5%9B%BD%E7%95%99%E5%AD%A6%E7%9A%84%E6%9D%A1%E4%BB%B6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%87%BA%E5%9B%BD%E7%95%99%E5%AD%A6%E7%9A%84%E6%9D%A1%E4%BB%B6&key=%E5%87%BA%E5%9B%BD%E7%95%99%E5%AD%A6%E7%9A%84%E6%9D%A1%E4%BB%B6'" target="_blank">出国留学的条件</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hot-question">
          <h2>移民</h2>
          <div class="hot-content">
            <div class="hot-image">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91'" target="_blank">
                <img src="/six/fFhOuUjSZUjLZUsenFvkrUjenGv3XURbZIkLBWsbZIsb.jpg" />
                <p>
                <span>
                  美国移民
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%A7%BB%E6%B0%91  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%A7%BB%E6%B0%91'" target="_blank">
                <img src="/six/fFhOuUjSZUjbBmgenFvkrUjenGv3XURbZIkLBWsbZI8b.jpg" />
                <p>
                <span>
                  加拿大移民
                </span>
                </p>
              </a>
            </div>
            <ul class="hot-list">
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E6%96%B0%E8%A5%BF%E5%85%B0%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6'" target="_blank">
                新西兰移民条件
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E6%B4%B2%E7%A7%BB%E6%B0%91&key=%E6%BE%B3%E6%B4%B2%E7%A7%BB%E6%B0%91  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E6%BE%B3%E6%B4%B2%E7%A7%BB%E6%B0%91&key=%E6%BE%B3%E6%B4%B2%E7%A7%BB%E6%B0%91'" target="_blank">
                澳洲移民
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E6%8A%95%E8%B5%84%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E6%8A%95%E8%B5%84%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E6%8A%95%E8%B5%84%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E6%8A%95%E8%B5%84%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6'" target="_blank">
                加拿大投资移民条件
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%A7%BB%E6%B0%91&key=%E8%8B%B1%E5%9B%BD%E7%A7%BB%E6%B0%91  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%A7%BB%E6%B0%91&key=%E8%8B%B1%E5%9B%BD%E7%A7%BB%E6%B0%91'" target="_blank">
                英国移民
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD%E7%9A%84%E6%9D%A1%E4%BB%B6&key=%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD%E7%9A%84%E6%9D%A1%E4%BB%B6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD%E7%9A%84%E6%9D%A1%E4%BB%B6&key=%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD%E7%9A%84%E6%9D%A1%E4%BB%B6'" target="_blank">
                移民美国的条件
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91%E6%8E%92%E6%9C%9F%E8%A1%A8&key=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91%E6%8E%92%E6%9C%9F%E8%A1%A8  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91%E6%8E%92%E6%9C%9F%E8%A1%A8&key=%E7%BE%8E%E5%9B%BD%E7%A7%BB%E6%B0%91%E6%8E%92%E6%9C%9F%E8%A1%A8'" target="_blank">
                美国移民排期表
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E7%A7%BB%E6%B0%91%E6%94%BF%E7%AD%96&key=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E7%A7%BB%E6%B0%91%E6%94%BF%E7%AD%96  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E7%A7%BB%E6%B0%91%E6%94%BF%E7%AD%96&key=%E8%8B%B1%E5%9B%BD%E7%95%99%E5%AD%A6%E7%A7%BB%E6%B0%91%E6%94%BF%E7%AD%96'" target="_blank">
                英国留学移民政策
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%A9%9A%E5%A7%BB%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD&key=%E5%A9%9A%E5%A7%BB%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%A9%9A%E5%A7%BB%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD&key=%E5%A9%9A%E5%A7%BB%E7%A7%BB%E6%B0%91%E7%BE%8E%E5%9B%BD'" target="_blank">
                婚姻移民美国
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%88%B6%E6%AF%8D%E5%9B%A2%E8%81%9A%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%88%B6%E6%AF%8D%E5%9B%A2%E8%81%9A%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/abroad?originQuery=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%88%B6%E6%AF%8D%E5%9B%A2%E8%81%9A%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6&key=%E5%8A%A0%E6%8B%BF%E5%A4%A7%E7%88%B6%E6%AF%8D%E5%9B%A2%E8%81%9A%E7%A7%BB%E6%B0%91%E6%9D%A1%E4%BB%B6'" target="_blank">
                加拿大父母团聚移民条件
              </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="recent-experience">
          <h2>热门知识</h2>
          <div class="recent-content">
            <div class="recent-image">
              <a href="javascript:if(confirm('http://school.sidajiaoyu.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://school.sidajiaoyu.com/'" target="_blank">
                <img src="/six/fFhOuUjSZWjRZWZenFvkrUjenGv3XURbZIkLBWsbBUVa.jpg" />
                <p>
                <span>
                  英国大学排名
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://www.jjl.cn/edu/australia/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.jjl.cn/edu/australia/'" target="_blank">
                <img src="/six/fFhOuUjSZWjRBI8enFvkrUjenGv3XURbZIkLBWsbBUsI.jpg" />
                <p>
                <span>
                  澳大利亚留学费用
                </span>
                </p>
              </a>
            </div>
            <ul class="recent-list">
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.aoji.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.aoji.cn/'">2013美国留学一年多少钱? </a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.rhhw.com/c/c131.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.rhhw.com/c/c131.html'">英国留学费用问题咨询解答</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.jjl.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.jjl.cn/'">加拿大2014留学信息解读</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://au.liuxue360.com/news/00132416.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://au.liuxue360.com/news/00132416.html'">2014年澳洲大学录取要求</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.cdkaplan.com/uk/index.html?src=bd_search  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.cdkaplan.com/uk/index.html?src=bd_search'">英国留学条件有哪些</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.usaedu.net/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.usaedu.net/'">去美国留学排名</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.sidajiaoyu.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.sidajiaoyu.com/'">2014年澳洲留学必知</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.igo.cn/country/ca/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.igo.cn/country/ca/'">2014加拿大留学政策全解</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://www.eduglobal.com/usa/graduate/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.eduglobal.com/usa/graduate/'">美国留学读研必听讲座</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="content-footer">
        <div class="course-rank">
          <div class="course-nav">
            <a class="show-more" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=04  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=04'">更多&gt;&gt;</a>
            <div class="hot-course">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=040201  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=040201'" target="_blank">欧洲留学</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=040202  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=040202'" target="_blank">美洲留学</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=040203  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=040203'" target="_blank">澳洲留学</a>
            </div>

            <h2>课程排行</h2>
          </div>
          <ul class="course-list">
            <li class="course-item">
            <a href="javascript:if(confirm('http://service.englishtone.cn/index.php?m=content&c=index&a=qianhuan3  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://service.englishtone.cn/index.php?m=content&c=index&a=qianhuan3'" target="_blank">
              <img src="/six/fFhOuUjSZUAYBmAenFvkrUjenGv3XURbZIkLBWsbBmsb.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://service.englishtone.cn/index.php?m=content&c=index&a=qianhuan3  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://service.englishtone.cn/index.php?m=content&c=index&a=qianhuan3'" target="_blank">
                美国签证口语指南一对一
              </a>
              </p>
              <span class="course-price">
                ￥39
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.51haohaoxue.cn/zhuanti/20130712/680/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.51haohaoxue.cn/zhuanti/20130712/680/'" target="_blank">
              <img src="/six/fFhOuUjSZWCRZWZenFvkrUjenGv3XURbZIkLBWsbBm8L.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.51haohaoxue.cn/zhuanti/20130712/680/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.51haohaoxue.cn/zhuanti/20130712/680/'" target="_blank">
                报名雅思享免费留学服务
              </a>
              </p>
              <span class="course-price">
                ￥58000
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.gospain.cn/pre-spain/spain/gospain.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.gospain.cn/pre-spain/spain/gospain.html'" target="_blank">
              <img src="/six/fFhOuUjSZUAwBmhenFvkrUjenGv3XURbZIkLBWsbBm8M.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.gospain.cn/pre-spain/spain/gospain.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.gospain.cn/pre-spain/spain/gospain.html'" target="_blank">
                西班牙公立大学留学预科班
              </a>
              </p>
              <span class="course-price">
                ￥25800
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.zszxbj.net/zhongfaMBA/zhongfajianzhang/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.zszxbj.net/zhongfaMBA/zhongfajianzhang/'" target="_blank">
              <img src="/six/fFhOuUjSZWCSBUZenFvkrUjenGv3XURbZIkLBWsbBmkL.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.zszxbj.net/zhongfaMBA/zhongfajianzhang/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.zszxbj.net/zhongfaMBA/zhongfajianzhang/'" target="_blank">
                法国巴黎第一大学合作MBA
              </a>
              </p>
              <span class="course-price">
                ￥9800起
              </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="rec-org">
          <div class="org-nav">
            <a class="more-org" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0402  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0402'">更多&gt;&gt;</a>
            <h2>推荐机构</h2>
          </div>
          <ul class="org-list">
            <a href="javascript:if(confirm('http://www.jjl.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.jjl.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">金吉列留学</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjSZUhSuUjenFvkrUjenGv3XURbZIkLBWsbuWgY.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.aoji.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.aoji.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">澳际留学</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjSZWZIuWVenFvkrUjenGv3XURbZIkLBWsbuWkR.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.sidajiaoyu.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.sidajiaoyu.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">四达留学</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjSZUhwuWgenFvkrUjenGv3XURbZIkLBWsbuUjI.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.igo.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.igo.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">新通教育</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjSZUhquWsenFvkrUjenGv3XURbZIkLBWsbuUCI.jpg">

              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-container abroad-floor-bg">
      <div class="bg-btns">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0401  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0401'" target="_blank">移民</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0402  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0402'" target="_blank">留学</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0499  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0499'" target="_blank">其他</a>
      </div>
    </div>
  </div>

</div>
<div class="class-floor-wrapper dxt-floor-wrapper" data-click='{"act":"a_click_floor", "mod":"content_floor", "fr":"ns","cat":"floors"}'>
  <div class="class-floor dxt-floor">
    <div class="content-container">
      <div class="image-content">
        <div class="image-list-left">
          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3599  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3599'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13900584933864507918-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu--2MYNLw8c2cz6tFoSIF4eMUtDM0=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3599  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3599'" target="_blank">
                面试系列之Java知多少
              </a>
            </div>

          </div>
          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4229  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4229'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927163220834254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-WYGtw1IFlcuvZOkWR7XNAz8t8wA=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4229  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4229'" target="_blank">
                【高三】语文
              </a>
            </div>

          </div>
          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3679  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3679'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927165503944254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-NJs+5PaqKN5zoxlhFfYv9oeziVE=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3679  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3679'" target="_blank">
                高中化学-高考十大冷门
              </a>
            </div>

          </div>
        </div>
        <div class="image-list-center">
          <div class="video-image-wrapper first-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3939  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3939'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13897653346894329798-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-PEmB8FHRvxLiqlJAXvBiewP8EBs=.jpg" />
            </a>
            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3939  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3939'" target="_blank">
                把自己妆成明星
              </a>
            </div>
          </div>
          <div class="video-image-wrapper second-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4177  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4177'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927167226734254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-CZ3GbayI6DkEDUUiihi42Jg84Kg=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4177  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=4177'" target="_blank">
                时间管理
              </a>
            </div>

          </div>
          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=3229  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=3229'" target="_blank">
              <img src="/six/a_50417535_m_601_m1.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=3229  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=3229'" target="_blank">
                GRE词汇讲解
              </a>
            </div>

          </div>
        </div>
        <div class="image-list-right">
          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3601  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3601'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927169723184254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-xT6Fj-cCTL3I7geuRw520DFIYx8=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3601  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3601'" target="_blank">
                神一样的模仿
              </a>
            </div>

          </div>

          <div class="video-image-wrapper even-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3881  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3881'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13896817363664508022-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-YJvz0oJXAfuHqDfX9YDTKkTFl8Q=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3881  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3881'" target="_blank">
                申论地市级基本理论训练
              </a>
            </div>

          </div>

          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3654  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3654'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927174794294254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-K-cc+NCD73FcCBJ2AhknYmVP+HQ=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3654  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3654'" target="_blank">
                轻轻松松学室外渲染
              </a>
            </div>

          </div>

          <div class="video-image-wrapper even-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=4640  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=4640'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927180583084254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-4mGQiWewCD5084LbQo6CqI35fjA=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=4640  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/openInfo.php?courseId=4640'" target="_blank">
                猪猪美语美国生活系…
              </a>
            </div>

          </div>

          <div class="video-image-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3656  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3656'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13895939886264507999-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-8321Chiig8bcSHBT8ERHEx+rdbQ=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3656  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3656'" target="_blank">
                VRay卧室渲染
              </a>
            </div>

          </div>

          <div class="video-image-wrapper even-wrapper">
            <a class="image-link" href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3994  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3994'" target="_blank">
              <img src="/six/peixuncourse-courseResource-course-cover-13927198999494254651-courseCover.jpg-sign=MBO-DdAwfjdWB9URJw1OTx8Y6Feu-+XMToXtrFaNyzitUXzUVVPdlCrw=.jpg" />
            </a>

            <div class="image-banner-mask"></div>
            <div class="image-banner-test">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3994  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/courseInfo.php?courseId=3994'" target="_blank">
                营销制胜的五种能力
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>
    <div class="bg-container dxt-floor-bg">
      <div class="bg-btns">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/index.php  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/index.php'" target="_blank">系列课程</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/index.php  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/index.php'" target="_blank">直播讲堂</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/xuetang/find.php?nodeId=1915  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/xuetang/find.php?nodeId=1915'" target="_blank">公开课</a>
      </div>
    </div>
  </div>
</div>        
