<div class="class-floor-wrapper work-floor-wrapper" data-click='{"act":"a_click_floor", "mod":"content_floor", "fr":"ns","cat":"floors"}'>
  <div class="class-floor work-floor">
    <div class="content-container">

      <div class="content-meta">
        <div class="data-selection">
          <h2>精选资料</h2>
          <div class="data-content">
            <div class="data-image">
              <a target="_blank" href="javascript:if(confirm('http://www.offcn.com/gjgwy/2013/0123/13491.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.offcn.com/gjgwy/2013/0123/13491.html'">
                <img src="/six/fFhOuUjLuW8RZmsenFvkrUjenGv3XURbZIkLZI8SZIgb.jpg" />
                <p>
                <span>
                  公务员考试面试解析
                </span>
                </p>
              </a>
              <a target="_blank" href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=jianzhu1&z=all&y=2013&stab=1  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=jianzhu1&z=all&y=2013&stab=1'">
                <img src="/six/fFhOuUjLuW8RBmAenFvkrUjenGv3XURbZIkLZI8SZIkY.jpg" />
                <p>
                <span>
                  一级建筑师报考指南
                </span>
                </p>
              </a>
            </div>
            <ul class="data-list">
              <li class="data-item">
              <a href="javascript:if(confirm('http://www.offcn.com/gjgwy/2013/0123/13491.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.offcn.com/gjgwy/2013/0123/13491.html'" target="_blank">国家公务员考试面试真题</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://www.offcn.com/bjgwy/2013/1017/5279.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.offcn.com/bjgwy/2013/1017/5279.html'" target="_blank">2014年北京公务员报考指南</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/f3f1f2a41a37f111f1855bbe.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/f3f1f2a41a37f111f1855bbe.html'" target="_blank">上海公务员2013申论解析</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/4a0cdd6e2b160b4e767fcf72.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/4a0cdd6e2b160b4e767fcf72.html'" target="_blank">教师资格证考试用书</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=jianzhu2&z=all&y=2013&stab=1  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=jianzhu2&z=all&y=2013&stab=1'" target="_blank">二级建筑师考试报考指南</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=kuaijicongye&y=2013&stab=4  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=kuaijicongye&y=2013&stab=4'" target="_blank">会计资格报名入口</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/view/7344672390c69ec3d4bb7525.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/view/7344672390c69ec3d4bb7525.html'" target="_blank">2014年会计资格证报考指南</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://wenku.baidu.com/portal/browse/examinfo?t=cpa&z=all&y=2013&stab=1  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://wenku.baidu.com/portal/browse/examinfo?t=cpa&z=all&y=2013&stab=1'" target="_blank">注册会计师考试报考指南</a>
              </li>
              <li class="data-item">
              <a href="javascript:if(confirm('http://www.wangxiao.cn/gwzyys/moni/14011033156.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.wangxiao.cn/gwzyys/moni/14011033156.html'" target="_blank">公卫执业医师考试模拟题</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="hot-question">
          <h2>热门问答</h2>
          <div class="hot-content">
            <div class="hot-image">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/340312638  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/340312638'" target="_blank">
                <img src="/six/fFhOuUjLuWgRBWAenFvkrUjenGv3XURbZIkLZI8SBmAS.jpg" />
                <p>
                <span>
                  考公务员需要什…
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/470342117  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/470342117'" target="_blank">
                <img src="/six/fFhOuUjLuWgRBIhenFvkrUjenGv3XURbZIkLZI8SBmZM.jpg" />
                <p>
                <span>
                  注册会计师报名条件
                </span>
                </p>
              </a>
            </div>
            <ul class="hot-list">
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/352184734  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/352184734'" target="_blank">
                公务员国考和省考的区别
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/213855703  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/213855703'" target="_blank">
                会计的日常工作内容是什么
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/351104420  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/351104420'" target="_blank">
                公务员工资是多少
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/331230975  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/331230975'" target="_blank">
                会计从业资格证好考吗
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/506241928  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/506241928'" target="_blank">
                一级建造师报考条件是什么
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/500677125  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/500677125'" target="_blank">
                2013年教师工资改革方案
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/376862921  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/376862921'" target="_blank">
                二级建造师报名条件
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/221724959  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/221724959'" target="_blank">
                心理咨询师的报考条件
              </a>
              </li>
              <li class="hot-item">
              <a href="javascript:if(confirm('http://zhidao.baidu.com/question/403535099  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://zhidao.baidu.com/question/403535099'" target="_blank">
                考公务员要看什么书
              </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="recent-experience">
          <h2>最新经验</h2>
          <div class="recent-content">
            <div class="recent-image">
              <a href="javascript:if(confirm('http://jingyan.baidu.com/article/fd8044fa87209c5031137a2c.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/fd8044fa87209c5031137a2c.html'" target="_blank">
                <img src="/six/fFhOuUjLuWkbZUjenFvkrUjenGv3XURbZIkLZI8SBIsS.jpg" />
                <p>
                <span>
                  公务员面试经验传授
                </span>
                </p>
              </a>
              <a href="javascript:if(confirm('http://jingyan.baidu.com/album/c1465413518de00bfcfc4c80.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/c1465413518de00bfcfc4c80.html'" target="_blank">
                <img src="/six/fFhOuUjLuWkbBIsenFvkrUjenGv3XURbZIkLZI8SBI8q.jpg" />
                <p>
                <span>
                  考建筑师所需条件
                </span>
                </p>
              </a>
            </div>
            <ul class="recent-list">
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/9158e0008832e2a254122808.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/9158e0008832e2a254122808.html'">公务员考试数量关系技巧</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/2d5afd699044da85a2e28ee1.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/2d5afd699044da85a2e28ee1.html'">申论概括题高分技巧</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/75ab0bcb046c79d6864db2de.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/75ab0bcb046c79d6864db2de.html'">造价员备考经验交流</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/0964eca2dc79ee8285f536fc.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/0964eca2dc79ee8285f536fc.html'">通过质量工程师必懂术语</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/75ab0bcb046c79d6864db2de.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/75ab0bcb046c79d6864db2de.html'">造价员备考经验交流</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/59a015e38c9d33f795886579.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/59a015e38c9d33f795886579.html'">全方面了解金融分析师</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/article/9f63fb91cf519dc8400f0ebd.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/article/9f63fb91cf519dc8400f0ebd.html'">执业医师考试复习十大指南</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/73c3ce28c741b8e50243d958.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/73c3ce28c741b8e50243d958.html'">公务员面试高分技巧</a>
              </li>
              <li class="recent-item">
              <a  target="_blank" href="javascript:if(confirm('http://jingyan.baidu.com/album/36d6ed1f3beedb1bcf4883ac.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://jingyan.baidu.com/album/36d6ed1f3beedb1bcf4883ac.html'">怎么考导游证</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="content-footer">
        <div class="course-rank">
          <div class="course-nav">
            <a class="show-more" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=02  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=02'">更多&gt;&gt;</a>
            <div class="hot-course">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=020201  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=020201'" target="_blank">公务员</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=020202  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=020202'" target="_blank">建筑工程</a>
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=020203  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=020203'" target="_blank">金融会计</a>
            </div>

            <h2>课程排行</h2>
          </div>
          <ul class="course-list">
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpORGczSm5wNFgzRnBaRDB4TXprd01qYzJNRFl5TURnNU1EYzNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUSTVOekl4Tnlad2JHRnVYMmxrUFRFeE5EWTROVFE1Sm5WdWFYUmZhV1E5TWpjMU5qRTRPRE13Sm1sa1pXRmZhV1E5TVRJeE1ESTRNVFF5TlNaM2FXNW1iMTlwWkQwd0ptSnlaejB4Sm5KMVBXaDBkSEFsTTBFbE1rWWxNa1ozZDNjdWIzQmxibXhoWWk1amJpVXlSbU5qYm1FdWFIUnRiQT09&pm=3a2c76cfedcd6796ea725b5f5d01d28a  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpORGczSm5wNFgzRnBaRDB4TXprd01qYzJNRFl5TURnNU1EYzNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUSTVOekl4Tnlad2JHRnVYMmxrUFRFeE5EWTROVFE1Sm5WdWFYUmZhV1E5TWpjMU5qRTRPRE13Sm1sa1pXRmZhV1E5TVRJeE1ESTRNVFF5TlNaM2FXNW1iMTlwWkQwd0ptSnlaejB4Sm5KMVBXaDBkSEFsTTBFbE1rWWxNa1ozZDNjdWIzQmxibXhoWWk1amJpVXlSbU5qYm1FdWFIUnRiQT09&pm=3a2c76cfedcd6796ea725b5f5d01d28a'" target="_blank">
              <img src="/six/fFhOuUjLuUjauUgenFvkrUjenGv3XURbZIkLZI8YZWAb.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpORGczSm5wNFgzRnBaRDB4TXprd01qYzJNRFl5TURnNU1EYzNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUSTVOekl4Tnlad2JHRnVYMmxrUFRFeE5EWTROVFE1Sm5WdWFYUmZhV1E5TWpjMU5qRTRPRE13Sm1sa1pXRmZhV1E5TVRJeE1ESTRNVFF5TlNaM2FXNW1iMTlwWkQwd0ptSnlaejB4Sm5KMVBXaDBkSEFsTTBFbE1rWWxNa1ozZDNjdWIzQmxibXhoWWk1amJpVXlSbU5qYm1FdWFIUnRiQT09&pm=3a2c76cfedcd6796ea725b5f5d01d28a  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BURXpORGczSm5wNFgzRnBaRDB4TXprd01qYzJNRFl5TURnNU1EYzNKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUSTVOekl4Tnlad2JHRnVYMmxrUFRFeE5EWTROVFE1Sm5WdWFYUmZhV1E5TWpjMU5qRTRPRE13Sm1sa1pXRmZhV1E5TVRJeE1ESTRNVFF5TlNaM2FXNW1iMTlwWkQwd0ptSnlaejB4Sm5KMVBXaDBkSEFsTTBFbE1rWWxNa1ozZDNjdWIzQmxibXhoWWk1amJpVXlSbU5qYm1FdWFIUnRiQT09&pm=3a2c76cfedcd6796ea725b5f5d01d28a'" target="_blank">
                CCNA培训
              </a>
              </p>
              <span class="course-price">
                ￥600
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.sunland.org.cn/school/bj/cpa/index.html?edu  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.sunland.org.cn/school/bj/cpa/index.html?edu'" target="_blank">
              <img src="/six/fFhOuUjLuUjIZWsenFvkrUjenGv3XURbZIkLZI8YZWZb.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.sunland.org.cn/school/bj/cpa/index.html?edu  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.sunland.org.cn/school/bj/cpa/index.html?edu'" target="_blank">
                CPA培训零基础签约保障
              </a>
              </p>
              <span class="course-price">
                ￥3580
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://www.hqmianshou.com/ms/learning/class_jzs2/zsjz.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.hqmianshou.com/ms/learning/class_jzs2/zsjz.htm'" target="_blank">
              <img src="/six/fFhOuUjLBIkbBWVenFvkrUjenGv3XURbZIkLZI8YZWhb.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://www.hqmianshou.com/ms/learning/class_jzs2/zsjz.htm  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.hqmianshou.com/ms/learning/class_jzs2/zsjz.htm'" target="_blank">
                二级建造师金牌通过套餐
              </a>
              </p>
              <span class="course-price">
                ￥780
              </span>
            </div>
            </li>
            <li class="course-item">
            <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTTJNakE0Sm5wNFgzRnBaRDB4TXprd01qYzJOamd4TmpFMk16QTFKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUWXhORE13TmpRbWNHeGhibDlwWkQweE1qUTRNRFF4TVNaMWJtbDBYMmxrUFRNeU1UQTRPREF4TWlacFpHVmhYMmxrUFRFek9EWTFNekEyTmpVbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xuTm9aVzV0WldrdVkyOXRMbU51&pm=d8b3565fe3f051fbad06ff662605c307  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTTJNakE0Sm5wNFgzRnBaRDB4TXprd01qYzJOamd4TmpFMk16QTFKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUWXhORE13TmpRbWNHeGhibDlwWkQweE1qUTRNRFF4TVNaMWJtbDBYMmxrUFRNeU1UQTRPREF4TWlacFpHVmhYMmxrUFRFek9EWTFNekEyTmpVbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xuTm9aVzV0WldrdVkyOXRMbU51&pm=d8b3565fe3f051fbad06ff662605c307'" target="_blank">
              <img src="/six/fFhOuUjLuUjRBUjenFvkrUjenGv3XURbZIkLZI8YZWVR.jpg" />
            </a>
            <div class="course-meta">
              <p class="course-title">
              <a href="javascript:if(confirm('http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTTJNakE0Sm5wNFgzRnBaRDB4TXprd01qYzJOamd4TmpFMk16QTFKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUWXhORE13TmpRbWNHeGhibDlwWkQweE1qUTRNRFF4TVNaMWJtbDBYMmxrUFRNeU1UQTRPREF4TWlacFpHVmhYMmxrUFRFek9EWTFNekEyTmpVbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xuTm9aVzV0WldrdVkyOXRMbU51&pm=d8b3565fe3f051fbad06ff662605c307  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/frame/course?p=Wldsa1BUTTJNakE0Sm5wNFgzRnBaRDB4TXprd01qYzJOamd4TmpFMk16QTFKbU5wZEhrOUpVVTBKVUk0SlRoQkpVVTRKVUZHSlVKRkpVVTFKVGxHSlRoRkpVVTFKVUk0SlRneUptTnBkSGxmYVdROU1DWjFjMlZ5WDJsa1BUWXhORE13TmpRbWNHeGhibDlwWkQweE1qUTRNRFF4TVNaMWJtbDBYMmxrUFRNeU1UQTRPREF4TWlacFpHVmhYMmxrUFRFek9EWTFNekEyTmpVbWQybHVabTlmYVdROU1DWmljbWM5TVNaeWRUMW9kSFJ3SlROQkpUSkdKVEpHZDNkM0xuTm9aVzV0WldrdVkyOXRMbU51&pm=d8b3565fe3f051fbad06ff662605c307'" target="_blank">
                审美全国美发专业课程
              </a>
              </p>
              <span class="course-price">
                ￥4800
              </span>
            </div>
            </li>
          </ul>
        </div>
        <div class="rec-org">
          <div class="org-nav">
            <a class="more-org" target="_blank" href="javascript:if(confirm('http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0202  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/orgjuhe?&categoryID=0202'">更多&gt;&gt;</a>
            <h2>推荐机构</h2>
          </div>
          <ul class="org-list">
            <a href="javascript:if(confirm('http://www.openlab.cn/index.html  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.openlab.cn/index.html'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">OPENLAB</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuUCwZmsenFvkrUjenGv3XURbZIkLZI8YZIAw.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.cpmi.org.cn/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.cpmi.org.cn/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">现代卓越</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuUCwBUsenFvkrUjenGv3XURbZIkLZI8YZIZw.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.offcn.com/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.offcn.com/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">中公教育</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuWjYuU8enFvkrUjenGv3XURbZIkLZI8YZIhq.jpg">

              </li>
            </a>
            <a href="javascript:if(confirm('http://www.rayli.name/  \n\nļδ Teleport Pro أΪ λʼַõı߽·С  \n\nҪӷ?'))window.location='http://www.rayli.name/'" target="_blank">
              <li class="org-item" target="_blank">
              <p class="org-name">时尚瑞丽美业</p>
              <span class="org-star star-img-5"> </span>
              <img src="/six/fFhOuUjLuWjwBUCenFvkrUjenGv3XURbZIkLZI8YZIVw.jpg">

              </li>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="bg-container work-floor-bg">
      <div class="bg-btns">
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0201  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0201'" target="_blank">IT培训</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0202  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0202'" target="_blank">资格认证</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0203  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0203'" target="_blank">管理培训</a>
        <a href="javascript:if(confirm('http://jiaoyu.baidu.com/query/juhe?&categoryID=0204  \n\nļδ Teleport Pro أΪ ʼַӾ̫ԶΪʼַڲ̽ȣļᱻ뵽ضС  \n\nҪӷ?'))window.location='http://jiaoyu.baidu.com/query/juhe?&categoryID=0204'" target="_blank">技能培训</a>
      </div>
    </div>
  </div>

</div>
