-title @title
-meta :robots,"noindex"
-@cols = :col2r
-@hide_recent = true
<script type="text/javascript">
var sogou_ad_id=286475;
var sogou_ad_height=200;
var sogou_ad_width=500;
</script>
<script language='JavaScript' type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

%p.stats
  ="找到#{@companies.total_entries}项结果,耗时(#{@companies.query_time * 1000}毫秒)"
.pull-right=nofollow_sub paginate(@companies)
.clearfix
= render :partial => 'companies/list',:locals=>{:results=>@companies,:q=>@q}
.pull-right=nofollow_sub paginate(@companies)
