-title @title
-meta :robots,"noindex"
-@cols = :col2r
-@hide_recent = true

%p.stats
  ="找到#{@companies.total_entries}项结果,耗时(#{@companies.query_time * 1000}毫秒)"
.pull-right=nofollow_sub paginate(@companies)
.clearfix
= render :partial => 'companies/list',:locals=>{:results=>@companies,:q=>@q}
.pull-right=nofollow_sub paginate(@companies)
