-@nocontent = true
-@nonav = true
-@hide_search = true
-title "企业搜索——企业名录搜索"
-@title_suffix = ""
.welcome
  .container
    .logo
      <a href="" class="logo-main">#{Settings.sitename}</a>
      <a href="" class="logo-en">#{Settings.domain}</a>
    %form.form-inline{:action=>'/search'}
      -#.prev
        -#<a href="">切换城市</a>
      %input.input-xlarge{type: 'text',name: 'q',id: 'q',placeholder: "关键词"}
      -#%input.input-mini{type: 'text',name: 'l',id: 'l',placeholder: "全国"}
      =select_tag :l,options_from_collection_for_select(Province.select('id,short_name').all,:short_name,:short_name),class: "input-small", prompt: "全国"
      %button.btn.btn-primary{type: 'submit'} 企业搜索
      -#=region_select_tag [:province, :city], province_prompt: "全国", city_prompt: "全省", class: 'input-small'
      -#%span.help-block
        -#<a href="/search?q=散热器" rel="nofollow">散热器<a/>
        -#<a href="/search?q=广东散热器" rel="nofollow">广东散热器<a/>
