-if results.present?
  -results.each do |c|
    .company
      %strong.fn=link_to highlight(c.name,q),company_link(c)
      %small
        =company_clean_col c.location
      .meta=highlight(excerpt(c.tagwords.join('/'),q,:radius=>10) || c.tagwords.join('/').truncate(50),q)
      .summary=highlight(excerpt(c.text.body,q,:radius=>60) || c.text.body.truncate(120),q)
-#=debug results

