-title @title || "企业"
-@cols="col2r"
-params.delete :l
= xpaginate(@companies,:window=>50)
-@companies.each do |c|
  .company
    %strong.fn=link_to c.name,company_link(c)
    %small
      =company_clean_col c.location
    .meta
      =c.hangye
    .summary=c.text.body.truncate 60

%br

