-title @title || "企业"
-@cols="col1"
-#=adsense 8040766242,"ndrc-city-companies-before"
<script type="text/javascript">
var sogou_ad_id=286475;
var sogou_ad_height=200;
var sogou_ad_width=500;
</script>
<script language='JavaScript' type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

= paginate(@companies,:window=>10)
%ul.comlist
  -@companies.each do |c|
    %li=link_to c.name,company_link(c)

