-title @title || "企业"
-@cols="col1"
=ubaidu '1568512','NDRC.620*140，创建于2014-5-26','leader' unless @hide_ad

%h2 随机企业
%ul.comlist
  -@random.each do |c|
    %li=link_to c.name.truncate(18),company_link(c)
.clearfix
%h2 最新注册
%ul.comlist
  -@recent.each do |c|
    %li=link_to c.name.truncate(18),company_link(c)
.clearfix
%hr
-unless @hide_paginate
  -params.delete :l
  =xpaginate @companies,:theme=>"etao",:window=>100
-else
  %p
    =link_to "更多",recent_companies_url
