-unless @hide_ad
  <script type="text/javascript">
  var sogou_ad_id=287090;
  var sogou_ad_height=250;
  var sogou_ad_width=300;
  </script>
  <script language='JavaScript' type='text/javascript' src='http://images.sohu.com/cs/jsfile/js/c.js'></script>

-#-if @show_catcities 
  -#-@cities = states - [:macau,:hongkong]
  -#%tt
    -#<a href="#{cat_link(@category)}">#{@category.name}</a>
    -#<small>分省浏览</small>
  -#%p.cats
    -#-@cities.each do |str|
      -#%a{:href=>citycat_link(str,@category),:title=>[t("states.#{str}"),@category.name].join()}=t("states.#{str}")


-unless @hide_recent
  -limit=15
  -cache ["sidebar_recent",limit],:expires_in=>1.minutes do
    -@recent = Company.recent.limit(limit)
    %tt 最新加入
    %ul.unstyled
      -@recent.each do |c|
        %li=link_to c.name,company_link(c)

-unless @hide_recent_entries
  -limit=15
  -cache ["sidebar_recent_entries",limit],:expires_in=>1.minutes do
    -@recent = Entry.recent.limit(limit)
    %tt 最新信息
    %ul.unstyled
      -@recent.each do |e|
        %li=link_to e.title.truncate(20),e,title: e.title
